<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/bulkevidence/upload-bulk-evidence?filetype={{ data['filetype'] }}" method="post" class="form">
      <div class="govuk-form-group">
        <label class="govuk-heading-xl" for="event-name">
				<!-- pagetitle widget for excel filetype -->

							Add supporting documents for 06002874005036

        </label>







								<!-- details widget for xml filetype -->
								<details class="govuk-details" data-module="govuk-details">
										<summary class="govuk-details__summary">
											<span class="govuk-details__summary-text">
												How to add supporting documents
											</span>
										</summary>
										<div class="govuk-details__text">

											<p class="govuk-body">Each document should be:</p>
												<ul class="govuk-list govuk-list--bullet">
													 <li>Select ‘Choose File’, this will open a window where you can navigate to the supporting document you want to upload </li>

													 <li>Select a supporting document – if the report requires multiple documents, they must be added one at a time </li>

                           <li>Add a document description in the box if you want to – this step is optional by might help the Valuation Office Agency
                             understand how the document relates to the report </li>

                           <li>Use the ‘Add’ button to upload the document </li>


												</ul>


											<p class="govuk-body">The page will then refresh and a confirmation message will say the document has been added. You can then choose another file. All added documents will appear in a list at the bottom of this page.
                                          When you have finished adding documents, select ‘Continue to upload’ to upload them to the service. </p>

                          <h3 class="govuk-heading-s">Document requirements</h3>
                          <!--<p class="govuk-body">Document requirements</p>-->
                          <p class="govuk-body">Each document should be:</p>
    												<ul class="govuk-list govuk-list--bullet">
    													 <li>no more than 10MB in size</li>

    													   <li>in JPG, PNG, PDF, MSG, EML, DOC format</li>

                                 </ul>

                                 <p class="govuk-body">Examples of supporting information include:</p>
                                  <ul class="govuk-list govuk-list--bullet">

													 <li>an inspector’s report</li>

													   <li>photos</li>

													<li>planning documents</a></li>

												</ul>


										</div>
									</details>




              <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload-1">
                    <strong>
											Upload files
											<!--Click choose file to upload an {{ data['filetype'] }} file-->
                    </strong>
                </label>
                <input class="govuk-file-upload" id="file-bulk-upload" name="file-bulk-upload" type="file">
              </div>








					{% from "govuk/components/button/macro.njk" import govukButton %}
					{% from "govuk/components/select/macro.njk" import govukSelect %}


					<!--how can i make this not the default when User first views page?-->

					</div>


					<!--what can I use instead <br> to have space between components?-->

					{{ govukCharacterCount({
			        name: "document_description",
			        id: "document_description",
			        maxlength: 500,
			        label: {
			          text: "Document description (optional)",
			          classes: "govuk-label--s",
			          isPageHeading: true
			          }
			        }) }}




					<div class="govuk-button-group">



          <button class="govuk-button" data-module="govuk-button" id="add_evidence" name="add_evidence" value="add">
          Add
          </button>


				  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="cancel_add_evidence" name="cancel_add_evidence" value="cancel">
				    Cancel
				  </button>

				</div>

	  </form>


  </div>
</div>
