{% extends "layout.html" %}

{% block pageTitle %}
 We are now checking the documents
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation" style="background-color:#003078">
        <h1 class="govuk-panel__title">We are now checking the documents
 </h1>
        <div class="govuk-panel__body">
        You will receive an email if there are any issues
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-bottom-4">
      <h2 class="govuk-heading-m">What happens next</h2>
       	 <p class="govuk-body">

			The documents will be added to the report once they’ve been processed.
		</p>

    <p class="govuk-body">You can close this window or return to your reports and continue adding supporting information to this report, or other reports. </p>

    <p class="govuk-body">We’ll send you an email if there are any problems with the documents and they need to be uploaded again. </p>


      <!-- <h2 class="govuk-heading-m">What happens next</h2>
       	 <p class="govuk-body">You can close this window or return to your reports to continue adding supporting documents to this
report, or other reports.</p>

		<p class="govuk-body">You will receive an email if there are any issues with your upload. If there is, you may need to correct
and re-upload some files if they do not meet requirements or contain errors.</p> -->

         </div>



             <a href="/bulkevidence/bulk-view-outstanding-reports1?pending=1">
                 <button class="govuk-button" data-module="govuk-button">
                   Return to reports
                 </button>

             </a>


        <p><a href="/contact/feedback-form">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>
  {% include "includes/details-get-help.html" %}
{% endblock %}
