{% extends "layout.html" %}

{% block pageTitle %}

{%


	if data['filetype'] == "Excel" %}
			Upload an Excel file of reports using a template

{%else%}
		Upload an XML file of reports


{%endif%}
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}


{% include "includes/upload-evidence-template.html" %}


{% endblock %}
