{% extends "layout.html" %}

{% block pageTitle %}
  Billing Authority report details
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



	  {%if ((data['deletedfilename'] != "") and (data['action'])=="delete")  %}

					<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
					  <div class="govuk-notification-banner__header">
						<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
						  Supporting document deleted
						</h2>
					  </div>
					  <div class="govuk-notification-banner__content">
						<h3 class="govuk-notification-banner__heading">
						  You have deleted "{{data['deletedfilename']}}".
						</h3>

					  </div>
					</div>



	  {% endif %}

      <h1 class="govuk-heading-xl">Billing authority reference number: 06002874006006</h1>

    </div>
</div>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#report-details">
      Report
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/requests-for-information/ba-report-details?deletedfilename=0&deletefile=0#supporting_documents">
      Supporting documents
      </a>
    </li>

		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#Messages">
			Messages
			</a>
		</li>

  </ul>
  <div class="govuk-tabs__panel" id="report-details">
    <h2 class="govuk-heading-l">Report details</h2>

    <h2 class="govuk-heading-m">Property request</h2>




    <dl class="govuk-summary-list govuk-!-margin-bottom-9">



      <div class="govuk-summary-list__row">





        <dt class="govuk-summary-list__key">
          What do you need to do with this property?
        </dt>
        <dd class="govuk-summary-list__value">
          Remove this property from the Non-Domestic rating list
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> property request</span>
          </a>-->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Why should the property be removed?
        </dt>
        <dd class="govuk-summary-list__value">
          05: Its has been demolished
        </dd>
        <dd class="govuk-summary-list__actions">
         <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> property sub request</span>
          </a>-->
        </dd>
      </div>


    </dl>


<h2 class="govuk-heading-m">Property details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Billing authority report number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    06342832
                  </dd>
                  <dd class="govuk-summary-list__actions">
                   <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> billing property reference number</span>
                    </a>-->
                  </dd>
                </div>



                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="govuk-summary-list__value">





                   Stratford 2, Jubliee House, 2 Farthingale Walk, London, E15 AW
                  </dd>

            <dd class="govuk-summary-list__actions">

                  </dd>

                </div>


            <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Description
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Content will appear here
                  </dd>

            <dd class="govuk-summary-list__actions">

                  </dd>


                </div>

            <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Rateable value
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £1.150.000.00
                  </dd>

            <dd class="govuk-summary-list__actions">

                  </dd>


                </div>


            <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Property occupier details
                  </dt>
                  <dd class="govuk-summary-list__value">
                   John Smith john.smith@ymail.co.uk<br>+44 65789 07654
                  </dd>

            <dd class="govuk-summary-list__actions">

                  </dd>


                </div>


              </dl>


              <h2 class="govuk-heading-m">Demolition request details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Billing Authority Report Number
                  </dt>
                  <dd class="govuk-summary-list__value">


              <p>C0136</p>






                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#" id="billing-authority-reference-change">
                      Change<span class="govuk-visually-hidden"> billing authority report number</span>
                    </a>-->
                  </dd>
                </div>
                <div class="govuk-summary-list__row" id="property-demolished-effective-date-change">
                  <dt class="govuk-summary-list__key">
                    Property demolished effective date
                  </dt>
                  <dd class="govuk-summary-list__value">


              <p>9th March 2022</p>





                  </dd>
                  <dd class="govuk-summary-list__actions">



              <!-- <a class="govuk-link" href="/bulkreport/request-details-error">
                     Change<span class="govuk-visually-hidden"> property demolished effective date</span></a>-->
                  </dd>
                </div>

              </dl>



          <h2 class="govuk-heading-m">Property Owner or occupier details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Is this for the owner or occupier?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Owner
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> property owner or occupier</span>
                    </a>-->
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    John Smith
                  </dd>
                  <dd class="govuk-summary-list__actions">
                   <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> property occupier name</span>
                    </a>-->
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Do you have alternative address details for this occupier?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> alternate address details</span>
                    </a>-->
                  </dd>
                </div>

             <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Property occupier address
                  </dt>
                  <dd class="govuk-summary-list__value">
                   Stratford 2, Jubliee House.
              2 Farthingale Walk, London
              E15 AW
                  </dd>
                  <dd class="govuk-summary-list__actions">
                   <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> properrty occupier address</span>
                    </a>-->
                  </dd>
                </div>

              </dl>



           <h2 class="govuk-heading-m">Reference details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    OS Grid reference details
                  </dt>
                  <dd class="govuk-summary-list__value" style="color:#505a5f;">
                    This is blank
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> os grid reference details</span>
                    </a>-->
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Does this property have planning reference?
                  </dt>
                  <dd class="govuk-summary-list__value">
                   No
                  </dd>
                  <dd class="govuk-summary-list__actions">
                   <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> property planning reference</span>
                    </a>-->
                  </dd>
                </div>

           <div class="govuk-summary-list__row" id="planning-reference-option-change">
                  <dt class="govuk-summary-list__key">
                   Why is there no planning reference?
                  </dt>
                  <dd class="govuk-summary-list__value moj-ticket-panel__content--red">



              <p>Planning permission not required - no plan-PPNR</p>








                  </dd>
                  <dd class="govuk-summary-list__actions">
                   <!-- <a class="govuk-link" href="/bulkreport/reference-details-error">
                      Change<span class="govuk-visually-hidden"> why is there no planning reference</span>
                    </a>-->
                  </dd>
                </div>



              </dl>



           <h2 class="govuk-heading-m">Comments</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">



           <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Comments
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Content here will be from the what the User fills in comments text area component
                  </dd>
                  <dd class="govuk-summary-list__actions">
                   <!-- <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> comments</span>
                    </a>-->
                  </dd>
                </div>



              </dl>





</div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="supporting_documents">

			<h2 class="govuk-heading-l">Supporting documents</h2>

<!--TABLE CONTENT BELOW-->

      <!--Key for statuses-->

      <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                   What each file status means
                    </span>
                  </summary>
                  <div class="govuk-details__text">


                    <ul>

                      <li class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                          <strong class="govuk-tag govuk-tag--yellow">
                           Processing
                          </strong>

                             This document is still being checked.
                      </li>

                      <li class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
              <strong class="govuk-tag govuk-tag--red">
                         FILE ERROR
                     </strong>

                       The file is corrupt, has a virus, or an issue with its structure. You will need
to remove the file and correct any errors before re-uploading it.
            </li>


              <li class="govuk-!-margin-top-3">
                <strong class="govuk-tag govuk-tag--green">
                         CHECKED
                     </strong>

                      The document has been accepted and added to the report.

              </li>



                    </ul>


                  </div>
        </details>

        <!--Table-->

        {% if data['deletefile'] == 1 %}
      		<p>Showing 1 - 2 of 2 results</p>
      	{% else %}
            <p>Showing 1 - 3 of 3 results</p>
      	{% endif %}

        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
           <th class="govuk-table__header" class="govuk-table__header" aria-sort="none">Documents</th>
              <th scope="col" class="govuk-table__header" aria-sort="ascending">File size</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
              <th scope="col" class="govuk-table__header" >Action</th>

              <!--<th scope="col" class="govuk-table__header" aria-sort="none">Action</th>-->
            </tr>
          </thead>
          <tbody class="govuk-table__body">



	  {%if ((data['deletedfilename'] == 0) and (data['deletefile'])==0)  %}

            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Planning_document.doc</td>
              <td class="govuk-table__cell">512Bytes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Processing
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkevidence/confirm-delete-evidence?deletefile=0&filenm=1">Delete</a>
              </td>
            </tr>

		{%endif %}

            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Document-photo.doc</td>
              <td class="govuk-table__cell">400Bytes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  FILE ERROR
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkevidence/failed-upload-evidence-error?filename=document_photo.doc&property={{data['property']}}">View errors</a>
              </td>
            </tr>



            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">inspector_report.pdf</td>
              <td class="govuk-table__cell">350Bytes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  CHECKED
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="#">Delete</a>
              </td>
            </tr>

<!--
            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Housing_info_01.doc</td>
              <td class="govuk-table__cell">450Bytes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Validated
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>


            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Important_doc</td>
              <td class="govuk-table__cell">8MB</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Validated
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>


            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Name_of_photo_PNG</td>
              <td class="govuk-table__cell">2MB</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Processing
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>


            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Name_of_photo_PDF</td>
              <td class="govuk-table__cell">7MB</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Processing
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>


            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Name_of_document_doc</td>
              <td class="govuk-table__cell">2MB</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Processing
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>


            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Important_document_doc</td>
              <td class="govuk-table__cell">800Bytes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Processing
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>


            <tr class="govuk-table__row govuk-table__row--selected">
        <td class="govuk-table__cell">Document_doc</td>
              <td class="govuk-table__cell">270Bytes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Processing
                </strong>
             </td>
              <td class="govuk-table__cell">
                    <a href="/bulkreport/bulk-submission-report-list?dataissues=0">Remove</a>
              </td>
            </tr>
-->


          </tbody>
        </table>



          <form method="post" novalidate action="/bulkevidence/upload-bulk-file-1">

          <!--  <div class="govuk-!-margin-left-2 govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <nav class="moj-pagination" id="pagination-label">

              <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>90</b> results</p>

                <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

                    <ul class="moj-pagination__list">
                      <li class="moj-pagination__item  moj-pagination__item--prev">
                            Previous<span class="govuk-visually-hidden"> set of pages</span>
                      </li>

                      <li class="moj-pagination__item moj-pagination__item--active">1</li>

                      <li class="moj-pagination__item moj-pagination__item--active"><a class="moj-pagination__link" href="#">2</a></li>

                      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

                      <li class="moj-pagination__item moj-pagination__item--dots">...</li>

                      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5">5</a></li>

                      <li class="moj-pagination__item  moj-pagination__item--next">
                        <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                      </li>
                    </ul>

              </nav>
            </div>-->





            <div class="govuk-button-group">

              <!--currently takes you to "What is the format of file you are uploading?"" for Bulk evidence how can we get this to take the User to Upload documents-->
                 <button class="govuk-button" data-module="govuk-button" id="uploadanother" name="uploadanother" value="1">
                Add more evidence
                </button>

             </div>

          </form>





  </div>



      <div>

      <!-- <a href="#" class="govuk-button" data-module="govuk-button">Return to Outstanding reports</a> -->

      </div>

  <!--CODE FOR UPDATES TAB-->

	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Messages">

			<h2 class="govuk-heading-l">Messages</h2>


      <P class="govuk-body">
          Send the Valuation Office Agency a message about this report.

      </p>


			<form action="/docs/examples/pass-data/vehicle-features" method="post" class="form" id="updates-form">

        <div class="govuk-!-margin-2 govuk-!-margin-bottom-6 govuk-!-padding-top-2 ">


          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="subject">Subject</label>
            <input class="govuk-input" id="subject" name="subject" type="text">
          </div>

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                  <div class="govuk-form-group">


                            <label class="govuk-label govuk-label--s" for="with-hint">
                              Message
                            </label>

                    <div id="with-hint-hint" class="govuk-hint">
                      <!--Do not include personal or financial information.-->
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="body" name="body" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
                  </div>

                  <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                  </div>

          </div>

          <button type="button" class="govuk-button" data-module="govuk-button" onclick="insertRow();">Send Message</button>

        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m">Message history</h3>
        <table class="govuk-table" id="updates-history">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Upload results</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Message</th>
              <th scope="col" class="govuk-table__header">Sent by</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header">15 Feb 2022, 11:20am</td>
              <td class="govuk-table__cell">
                <strong>Photographs</strong><br>
                Photographs uploaded as requested.
              </td>
              <td class="govuk-table__cell">Jane Parsons</td>
              <td class="govuk-table__cell">
                <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="deleteRow(this);">Remove</button>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">15 Feb 2022, 10:14am</td>
              <td class="govuk-table__cell">
                <strong>Photographs required</strong><br>
                There is no photograph of the front elevation. Please upload one to progress this report.
              </td>
              <td class="govuk-table__cell">VOA</td>
              <td class="govuk-table__cell">
              </td>
            </tr>
          </tbody>
        </table>

      </form>





  </div>


 <div class="govuk-button-group govuk-!-margin-top-3">





 <a href="/bulkevidence/bulk-view-outstanding-reports1?pending=1">
                 <button class="govuk-button" data-module="govuk-button">
                   Return to reports
                 </button>

             </a>


 </div>



</div>

<script>

  // Function to get the current date and time in the GDS format
        //this is for ba-report-details.html script
	      function subDate() {

	        // Get the current date
	        const d = new Date();

	        // Get the day
	        let day = d.getDate();

	        // Get the month
	        const monthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
	        let month = monthNames[d.getMonth()];

	        // Get the year
	        let year = d.getFullYear();

	        // Get the hours
	        let hours = d.getHours();
	        var ampm = hours >= 12 ? 'pm' : 'am';
	        hours = hours % 12;

	        // Get the minutes
	        let minutes = d.getMinutes();
	        minutes = minutes < 10 ? '0'+minutes : minutes;

	        // Return the submission Date
	        return day + " " + month + " " + year + ", " + hours + ":" + minutes + ampm;

	      }

	      // Function to insert a table row first using from data
	      function insertRow() {

	        // First check if a <tbody> tag exists, add one if not
	        if ($("#updates-history tbody").length == 0) {
	            $("#updates-history").append("<tbody></tbody>");
	        }

	        // Get the form data
	        var subject = document.getElementById("subject").value;
	        var body = document.getElementById("body").value;
	        var date = subDate();

	        // Find a <table> element with id="updates-history"
	        var table = document.getElementById("updates-history");

	        // Create an empty <tr> element and add it to the 1st position of the table
	        var row = table.insertRow(1);
	        row.className = "govuk-table__row";

	        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
	        var cell1 = row.insertCell(0);
	        cell1.className = "govuk-table__header";
	        var cell2 = row.insertCell(1);
	        cell2.className = "govuk-table__cell";
	        var cell3 = row.insertCell(2);
	        cell3.className = "govuk-table__cell";
	        var cell4 = row.insertCell(3);
	        cell4.className = "govuk-table__cell";

	        // Add some text to the new cells:
	        cell1.innerHTML = date;
	        cell2.innerHTML = "<strong>" + subject + "</strong><br>" + body;
	        cell3.innerHTML = "Zachary Hill";
	        cell4.innerHTML = "<button class='govuk-button govuk-button--secondary' data-module='govuk-button' style='margin-bottom:0;' onclick='deleteRow(this);'>Remove</button>";

	        // Reset form fields
	        $("#updates-form")[0].reset();

	        // Stop page refreshing
	        return false;

	      }

	    // Remove row from table
	    function deleteRow(btn) {
	    	var row = btn.parentNode.parentNode;
	    	row.parentNode.removeChild(row);
	    }


  </script>


{% include "includes/details-get-help.html" %}

	{% include "includes/footer.html" %}

{% endblock %}
