{% extends "layout.html" %}

{% block pageTitle %}
  Request add user
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}

{%if data['admin_type']=="edit"%}
			{%if data['userid']==1%}

					{%set firstname = "Byron"%}
					{%set lastname = "Kane"%}
					{%set email = "byron.kane@localauth.co.uk"%}
					{%set phone = "07445678675"%}

			{%elseif data['userid']==2 %}

					{%set firstname = "Leyton"%}
					{%set lastname = "Faulkner"%}
					{%set email = "leyton.faulkner@localauth.co.uk"%}
					{%set phone = "07445678123"%}


			{%elseif data['userid']==3 %}

				{%set firstname = "Jane"%}
					{%set lastname = "Doe"%}
					{%set email = "jane.doe@localauth.co.uk"%}
					{%set phone = "0734678009"%}


			{%elseif data['userid']==4 %}

					{%set firstname = "Unity"%}
					{%set lastname = "Dunkfeld"%}
					{%set email = "unity.dunkfeld@localauth.co.uk"%}
					{%set phone = "0734678432"%}


			{%else%}

					{%set firstname = "Wallace"%}
					{%set lastname = "Hutton"%}
					{%set email = "wallace.hutton@localauth.co.uk"%}
					{%set phone = "0787678400"%}


			{%endif%}

{%endif%}
<form method="post" action="/user-admin/request-add-user-permissions">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                  <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
				{%if data['admin_type']=="edit"%}
                  
					Edit user details
					
					{%else%}
					
					Add a user
					
				{%endif%}
                </h1>
				  {%if data['admin_type']=="add"%}
                <div id="user-request-hint" class="govuk-body">
                  Enter the user's details to request a new account. 
                </div>
				  {%endif%}
              </legend>


              <div class="govuk-form-group">
                      <label class="govuk-label" for="input_first_name">
                        First name
                      </label>

                      <input class="govuk-input govuk-input--width-20" id="input_first_name" name="input_first_name" value="{{data['input_first_name']|default(firstname, true)}}">
              </div>


              <div class="govuk-form-group">
                      <label class="govuk-label" for="input_last_name">
                        Last name
                      </label>

                      <input class="govuk-input govuk-input--width-20" id="input_last_name" name="input_last_name" value="{{data['input_last_name']|default(lastname, true)}}">
              </div>


              <div class="govuk-form-group">
                      <label class="govuk-label" for="input_email_address">
                        Email address
                      </label>
						 {%if data['admin_type']=="add"%}	
                      <input class="govuk-input govuk-input--width-20" id="input_email_address" name="input_email_address" value="">
				  		{%else%}
				   <input class="govuk-input govuk-input--width-20" id="input_email_address" name="input_email_address" type="hidden" value="{{data['input_email_address']|default(email, true)}}">
				  <p class="govuk-body">{{data['input_email_address']|default(email, true)}}</p>
				  		{%endif%}
              </div>


              <div class="govuk-form-group">
                      <label class="govuk-label" for="input_phone_number">
                        Phone number
                      </label>

                      <input class="govuk-input govuk-input--width-20" id="input_email_address" name="input_phone_number" value="{{data['input_phone_number']|default(phone, true)}}" type="tel" autocomplete="tel">
              </div>



















            </fieldset>
          </div>
<input type="hidden" name="admin_type" value="{{data['admin_type']}}" />
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>







        </div>
      </div>
</form>
  {% include "includes/details-get-help.html" %}
{% endblock %}
