{% extends "layout.html" %}

{% block pageTitle %}
  Request sent
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Request sent</h1>
        <div class="govuk-panel__body">


        Your request to remove this user <!--{{data['username']|default("Byron Kane", true)}}--> has been sent to the Valuation Office Agency.
<!--
          {% for username  in data['user_names'] %}
          {{ loop.count }}  {{ username }}
          {% else %}
            Jane Doe
          {% endfor %}
-->

        </div>

      </div>


      <h2 class="govuk-heading-m">What happens next</h2>
       	 <p class="govuk-body"> An email will be sent to you when the account has been removed.

  		     </p>

		 <!--<p class="govuk-body">Supporting information might include:</p>
							<ul class="govuk-list govuk-list--bullet">
							  <li>an inspector’s report</li>
							  <li>photos</li>
							  <li>planning documents</li>
							</ul>


		<p class="govuk-body">

					The Valuation Office Agency will send a message if they require further information on a report.
          These can be found on the dashboard under 'Messages'.


		</p>-->

	<form method="post" novalidate action="/user-permissions-request-add">


           <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button" id="adduser" name="requestadduser" value="1">
                Add another user
              </button>

              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="dashboard" name="requestadduser" value="0">
                Request another change
              </button>
            </div>

</form>


			<p><a href="/contact/feedback-form">What do you think of this service</a> (takes 30 seconds).

  		     </p>


           <!-- added for usability testing -->
                 <details class="govuk-details" data-module="govuk-details">
                               <summary class="govuk-details__summary">
                                 <span class="govuk-details__summary-text">
                                 Show email notification for remove user request
                                 </span>
                               </summary>
                               <div class="govuk-details__text">

                                 <p>

                                   <img src="/public/images/email/remove_user_request_email.jpg" width="150%" height="150%"" title="Upload progress email notification" />
                                 </p>





                               </div>
                     </details>

           <!-- added for usability testing -->


    </div>
  </div>
  {% include "includes/details-get-help.html" %}
{% endblock %}
