{% extends "layout.html" %}

{% block pageTitle %}
  Request add user permissions
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}

<form method="post" action="/user-admin/check-change-user-details">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
          What permissions do you want this user to have?
      </h1>
    </legend>
    <div id="user-permission-hint" class="govuk-hint">
      Select all tasks that you want this user to perform

        </div>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="user_permissions1" name="user_permissions" type="checkbox" value="Council tax" {{ checked("user_permissions", "Council tax") }}>



        <label class="govuk-label govuk-checkboxes__label" for="user_permissions1">
      Council tax
        </label>

        <div id="ct-hint" class="govuk-hint">
          Submit reports, upload supporting documents and download schedules

            </div>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="user_permissions2" name="user_permissions" type="checkbox" value="  Non-domestic rates" {{ checked("user_permissions", "Non-domestic rates") }}>



          <label class="govuk-label govuk-checkboxes__label" for="user_permissions2">
      Non-domestic rates
          </label>

          <div id="ndr-hint" class="govuk-hint">
            Submit reports, upload supporting documents and download schedules

              </div>


          </div>


          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="user_permissions3" name="user_permissions" type="checkbox" value="Data sharing" {{ checked("user_permissions", "Data sharing") }}>



            <label class="govuk-label govuk-checkboxes__label" for="user_permissions3">
            Data sharing

            </label>

            <div id="ds-hint" class="govuk-hint">
              Upload occupier lists, street names and numbering lists

                </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="user_permissions4" name="user_permissions" type="checkbox" value="Manage users" {{ checked("user_permissions", "Manage users") }}>



                    <label class="govuk-label govuk-checkboxes__label" for="user_permissions4">
                        Manage users
                    </label>

                    <div id="ms-hint" class="govuk-hint">
                    Request user changes
                  </div>


              </div>

    </div>

  </fieldset>
</div>






















          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>







        </div>
      </div>
</form>
  {% include "includes/details-get-help.html" %}
{% endblock %}
