{% extends "layout.html" %}

{% block pageTitle %}
The file has been deleted
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post" class="form">
      <div class="govuk-form-group">
        <label class="govuk-heading-xl" for="event-name">
    File has been deleted
			{#%if data['file-bulk-upload'] > 3 %#}

						{#{ data['file-bulk-upload'] }#}
				{#%else%#}

					<!--	"localcouncilreport07022022.xml"-->

				{#%endif%#}


        </label>





				<p class="govuk-body">
				        Your file has been removed. Upload another file or return to the dashboard
				  </p>








            </div>



            <div class="govuk-button-group">






              <button class="govuk-button" name="uploadanother" id="uploadanother" value="1" formaction="/occupiers-list/upload-occupiers-list">
              Upload another file
            </button>

				 <button class="govuk-button govuk-button--secondary" name="dashboard" id="dashboard" value="2" formaction="/return_dashboard">
              Return to dashboard
            </button>


            </div>

<!--
  			<div class="govuk-width-container">
  			  <div class="govuk-grid-row">
  				<div class="govuk-grid-column-two-thirds">
  				  <p><a href="#">Get help with this page</a></p>
  				</div>
  			  </div>
  			</div>
-->

          </form>



  </div>
</div>







{% include "includes/details-get-help.html" %}
{% endblock %}
