{% extends "layout.html" %}

{% block pageTitle %}




			Upload an occupiers list


{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{% include "includes/header-dashboard.html" %}
		</div>
		<div class="govuk-grid-column-full">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>

	</div>
{% endblock %}

{% block content %}



<div class="govuk-grid-row" id="uploadOccupierComponent">
<div class="govuk-grid-column-two-thirds">

	<div class="govuk-form-group">


		<h1 class="govuk-heading-l">

		      				Upload an occupiers list

		      </h1>



</div>

	<div class="govuk-form-group">
				<!-- details widget for excel filetype -->

				<p class="govuk-body">

								Each billing authority must send its occupiers list to the Valuation Office Agency every 3 months.

				</p>

				<div class="govuk-inset-text">
					Check when your <a href="/occupiers-list/occupiers-list-history">billing authority uploaded its most recent occupiers list.</a>. <!--You can also check on the status of recent uploads.-->

	</div>




		   <p class="govuk-body">Upload your occupiers list using the template:</p>

			 <ul class="govuk-list govuk-list--bullet">
					<li><a href="#">occupiers list template (England)</a></li>
						<li><a href="#">occupiers list template (Wales)</a></li>
			</ul>


			  <p class="govuk-body">Files must be:
</p>
			<ul class="govuk-list govuk-list--bullet">
			 	 <li>less than 130MB</li>

         <li>XLS, XLSX or XLT format
				 	</li>


			</ul>







              <div class="govuk-form-group">
                <label class="govuk-label" for="file-occupier-list-upload">
                    <strong>
											 Upload a file
                    </strong>
                </label>
                <input class="govuk-file-upload" id="file-occupier-list-upload" name="file-occupier-list-upload" type="file">
              </div>







            </div>

            <button class="govuk-button" data-module="govuk-button" onclick="ShowUploadfile();">
              Add
            </button>







  </div>

</div>
	{#%if (data['listaction'] == "add") %#}

		{%set filenm = "occupiers_list_mar_2023.xls"%}

	<div class="govuk-grid-row" id="uploadedOccupiersList" style="display:none;">
		<div class="govuk-grid-column-full">
<!--
		<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
					<div class="govuk-notification-banner__header">
					<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
						Occupiers list added
					</h2>
					</div>
					<div class="govuk-notification-banner__content"  style="border:1px solid red;">
					<h3 class="govuk-notification-banner__heading" >
						You have added "{{filenm}}".
					</h3>

					</div>
				</div>
-->
				<div class="govuk-form-group">
						<h1 class="govuk-heading-l">
					<!-- pagetitle widget for excel filetype -->



							Confirm occupiers list

					</h1>
			</div>

    <form action="/occupiers-list/upload-occupiers-list-progress" method="post" class="form">



		<div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-margin-top-4">

<!--
								<table class="govuk-table">
									<thead class="govuk-table__head">
										<tr class="govuk-table__row">
									 <th class="govuk-table__header" class="govuk-table__header" aria-sort="none">Document</th>
											<th scope="col" class="govuk-table__header" aria-sort="ascending">File size</th>
											<th scope="col" class="govuk-table__header" >Action</th>

										</tr>
									</thead>
									<tbody class="govuk-table__body">





										<tr class="govuk-table__row govuk-table__row--selected">
								<td class="govuk-table__cell">{{filenm}}</td>
											<td class="govuk-table__cell">8 MB</td>
											<td class="govuk-table__cell">
														<a href="#" onclick="HideUploadfile();">Remove</a>
											</td>
										</tr>



						</tbody>
								</table>
-->
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Document
    </dt>
    <dd class="govuk-summary-list__value">
    {{filenm}}
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      File size
    </dt>
    <dd class="govuk-summary-list__value">
      8 MB
    </dd>

  </div>

</dl>



		</div>
	<div class="govuk-form-group govuk-!-margin-bottom-4">
		<p class="govuk-body">
		<a href="#" onclick="HideUploadfile();">Upload a different file</a>
		</p>
</div>
										  <div class="govuk-button-group govuk-!-margin-top-8">

															<button class="govuk-button" data-module="govuk-button">
																Confirm and send
															</button>




											</div>


		{#% endif %#}
    </form>
</div>

<script>

	function ShowUploadfile() {


	 document.getElementById("uploadedOccupiersList").style.display='';
	 document.getElementById("uploadOccupierComponent").style.display='none';


 }

 function HideUploadfile() {


	document.getElementById("uploadedOccupiersList").style.display='none';
	document.getElementById("uploadOccupierComponent").style.display='';


}



	</script>
  {% include "includes/details-get-help.html" %}
{% endblock %}
