{% extends "layout.html" %}

{% block pageTitle %}
    Confirm address
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">


                    <div class="govuk-form-group">


                      <form class="form" action="/webform/ct/address-verify?propertyreason={{data['propertyreason']}}" method="post">




                        {%if data['addressid']%}

                            {%
                                  if data['addressid'] == "0"%}


                                      {%set address_selected = "Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT"%}

                                    {%
                                          elseif data['addressid'] == "1"%}


                                              {%set address_selected = "Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT"%}

                                    {%
                                          elseif data['addressid'] == "2"%}


                                                {%set address_selected = "Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT"%}


                                    {%
                                          elseif data['addressid'] == "3"%}

                                                {%set address_selected = "Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT"%}


                                    {%
                                          elseif data['addressid'] == "4"%}


                                          {%set address_selected = "First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT"%}



                                    {%endif%}



                            {% set addresslist = address_selected.split(',') %}

                        {%else%}
                            {%set printaddress = "Addenbrooke House,
                            Ironmasters Way,
                            Town Centre,
                            Telford, Shropshire,
                            TF3 4NT"%}
                        {%endif%}










                                                {% if data['property-address-line-1'].length > 0 %}


                                                      {% set address1_value = data['property-address-line-1'] + ", " %}

                                                {%else%}

                                                        {% set address1_value = addresslist[0] + ", " %}



                                                {%endif%}



                                                {% if data['property-address-line-2'].length > 0%}


                                                      {% set address2_value = data['property-address-line-2'] + ", " %}

                                                {%else%}

                                                      {% set address2_value = addresslist[1] + ", " + addresslist[2] + ", " %}


                                                {%endif%}



                                                {% if data['property-address-line-3'].length > 0 %}


                                                      {% set address3_value = data['property-address-line-3'] + ", " %}

                                                {%else%}

                                                    {% set address3_value = addresslist[3] + ", "  %}


                                                {%endif%}


                                                {% if data['property-address-town-city'].length > 0 %}


                                                      {% set address_city = data['property-address-town-city'] + ", " %}

                                                {%else%}

                                                    {% set address_city = addresslist[4] + ", " + addresslist[5]+ ", " %}


                                                {%endif%}


                                                {% if data['property-address-postcode'].length > 0 %}


                                                      {% set address_postcode = data['property-address-postcode']  %}

                                                {%else%}

                                                    {% set address_postcode = addresslist[6]   %}


                                                {%endif%}

                                                  {% set property_address = address1_value + address2_value + address3_value + address_city + address_postcode %}



                                                {#  set address2_value = [addresslist[1], addresslist[2] ]|join(', ') #}













                      <h1 class="govuk-heading-l">Confirm address</h1>



                        <p class="govuk-body">

                              Confirm or update the address details to continue.

                          </p>


<!--
                          {%if address_selected%}




                                {#{address1_value}#}

                                <br/>

                                {#{address2_value}#}

                                <br/>
                                {#{address3_value}#}


                                <br/>
                                    {#{address_city}#}
                                    <br/>
                                        {#{address_postcode}#}

                          {%else%}



                              {*{ printaddress | striptags(true) | escape | nl2br }*}

                          {%endif%}
-->
                          {{ govukInput({
                            label: {
                              html: 'Address line 1 <span class="govuk-visually-hidden">line 1 of 2</span>'
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "property-address-line-1",
                            name: "property-address-line-1",
                            value: data['property-address-line-1']|default(addresslist[0] + ',' + addresslist[1], true),
                            autocomplete: "address-line1"
                          }) }}


                          {{ govukInput({
                            label: {
                              text: "Address line 2 (optional)"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "property-address-line-2",
                            name: "property-address-line-2",
                            value: data['property-address-line-2']|default(addresslist[2], true),
                            autocomplete: "address-level2"
                          }) }}

                          {{ govukInput({
                            label: {
                              text: "Address line 3 (optional)"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "property-address-line-3",
                            name: "property-address-line-3",
                            value: data['property-address-line-3']|default(addresslist[3], true),
                            autocomplete: "address-level2"
                          }) }}

                          {{ govukInput({
                            label: {
                              text: "Town/city"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "property-address-town-city",
                            value: data['property-address-city']|default(addresslist[4] + ',' + addresslist[5], true),
                            name: "property-address-town-city"
                          }) }}

                          {{ govukInput({
                            label: {
                              text: "Postcode"
                            },
                            hint: {
                                text: "For example SW1 6GH"
                          },

                            classes: "govuk-input--width-10",
                            id: "property-address-postcode",
                            name: "property-address-postcode",
                            value: data['property-address-postcode']|default(addresslist[6], true),
                            autocomplete: "postal-code"

                          }) }}






                        <!--  <p class="govuk-body"><a href="/webform/ct/address-enter?action=edit">Edit</a></p>-->

                        <div class="govuk-button-group">

                          <input type="hidden" name="address_array" id="address_array" value="{{address_selected}}">

                        {%if data['propertyreason'] == "occupier"%}

                            <input type="hidden" name="occupier_property_address" id="occupier_property_address" value="{{property_address}}">
                        {%else%}

                              <input type="hidden" name="property_new_address" id="property_new_address" value="{{property_address}}">

                        {%endif%}

                      			<button class="govuk-button" data-module="govuk-button" id="addressupdate" name="addressupdate" value="add-address">
                      				Confirm
                      			</button>

                        </div>

                  </form>

              </div>


        </div>
    </div>

{% endblock %}
