{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Report reference</h2>

      {%if data['input-bill-auth-ref-no'].length>0%}



        {%set input_bill_auth_ref_no = data['input-bill-auth-ref-no']%}

      {%else%}

        {%set input_bill_auth_ref_no = "C01324"%}

      {%endif%}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Enter the billing authority report number"
            },
            value: {
              text: input_bill_auth_ref_no
            },
            actions: {
              items: [
                {
                  href: "request-reason",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}


        <h2 class="govuk-heading-m">Change reason</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Why are you creating this report?"
            },
            value: {
              text: data['report_reason']
            },
            actions: {
              items: [
                {
                  href: "request-reason",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: data['sub_reason_question']
            },
            value: {
              text: data['sub_reason_option']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">Property reference</h2>

      {%if data['input_property_billing_ref_no'].length>0%}



        {%set input_property_billing_ref_no = data['input_property_billing_ref_no']%}

      {%else%}

        {%set input_property_billing_ref_no = "14463691044000"%}

      {%endif%}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "What is the billing authority reference number for this property?"
            },
            value: {
              text: input_property_billing_ref_no
            },
            actions: {
              items: [
                {
                  href: "billing-reference?reason="+data['reason']+"&property="+data['property'],
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Property details</h2>

      {%




      if(data['property_new_address']==null)
      %}
      {%    set property_address = data['static_property_address']%}

      {% else%}

        {%   set property_address = data['property_new_address']%}

      {%endif%}

      {%  if(data['occupier_property_address']==null)
        %}
            {%set occupier_property_address = "1st, Custom House Annexe, 20 Lower Thames St, London EC3R 6EE"%}

        {% else%}

          {%  set occupier_property_address = data['occupier_property_address']%}

        {%endif%}

        {%if(data['radio_council_tax_band']==null)
        %}
        {% set radio_council_tax_band = "Band F"%}

        {%else%}

          {%   set radio_council_tax_band = data['radio_council_tax_band']%}

        {%endif%}



      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [

          {
            key: {
              text: "Address"
            },
            value: {
              text:  property_address | striptags(true) | escape | nl2br
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: data['static_property_description']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "content will appear here"
                }
              ]
            }
          },
          {
            key: {
              text: "Select council tax band for this property"
            },
            value: {
              text: radio_council_tax_band
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "content will appear here"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Change details</h2>


      {%if(data['textarea_comments']==null)
      %}
      {% set textarea_comments = "Changes to the property"%}

      {%else%}



        {%   set textarea_comments = data['textarea_comments']%}

      {%endif%}



      {%if(data['effective_date']==null)
      %}
      {% set effective_date = "Band F"%}

      {%else%}

        {%   set effective_date = data['effective_date']%}

      {%endif%}


day{{data['effective_date_day']}}


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Comments"
            },
            value: {
              text: textarea_comments
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "billing authority report number"
                }
              ]
            }
          },
          {
            key: {
              text: "Property demolished effective date"
            },
            value: {
              text: effective_date
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "property demolished effective date"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Property occuiper details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "John Smith"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you have alternative address details for this occupier"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "do you have alternative address details for this occupier"
                }
              ]
            }
          },
          {
            key: {
              text: "Property occupier address"
            },
            value: {
              html: occupier_property_address
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "property occupier address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Reference details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "OS Grid reference details"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "os grid reference details"
                }
              ]
            }
          },
          {
            key: {
              text: "Does this property have planning reference?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "does this property have planning reference?"
                }
              ]
            }
          },
          {
            key: {
              text: "Why is there no planning reference?"
            },
            value: {
              html: "Planning permission not required - no plan-PPNR"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "property occupier address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Relevant evidence</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Photograph"
            },
            value: {
              text: "NDR_removed_property.jpg"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "photograph"
                }
              ]
            }
          },
          {
            key: {
              text: "Schedule of costs"
            },
            value: {
              text: "NDR_removed_property.xls"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "does this property have planning reference?"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Comments</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Comments"
            },
            value: {
              text: "Content here will be from the what the User fills in comments text area component"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "photograph"
                }
              ]
            }
          }
        ]
      }) }}

          <h2 class="govuk-heading-m">I understand and accept that:</h2>

          <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

          <form action="/confirmation" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            {{ govukButton({
                text: "Complete request"
            }) }}

      </form>

    </div>
  </div>
{% endblock %}
