{% extends "layout.html" %}

{% block pageTitle %}
  Change request details
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                          Change request details
                      </label>

						<p class="govuk-body">

							Include any additional information you have about the change you’re requesting for this property. Further guidance on what to include is in the <a href="#" target="_blank">billing authority reports submission standards (opens in a new window or tab)</a>.

						</p>

                     <form class="form" action="/webform/ct/planning-reference-details" method="post">



						 {%if data['reason-remove'] != "" %}


						 {%set comment_hint = "You need to add comments relevant to request code " + data['reason-remove']%}

						 {%elseif data['reason-amend'] != ""%}

						 {%set comment_hint = "You need to add details relevant to request code " + data['reason-amend']%}


						 {%else%}

						  {%set comment_hint = "You need to add details relevant to request code " + data['reason-new']%}


						 {%endif%}

                        {{ govukCharacterCount({
                            name: "textarea_comments",
                            id: "textarea_comments",
                            maxlength: 2000,
                            label: {
                              text: "Comments",
                              classes: "govuk-label--m",
                              isPageHeading: false
                              }
                            }) }}

                          {{ govukDateInput({
                              id: "effective_date",
                              namePrefix: "effective_date",
                              fieldset: {
                                legend: {
                                  text: "Property demolished effective date",
                                    classes: "govuk-label--m"
                            }
                          },
                          hint: {
                            text: "Date must be in the past. Format: 27 3 2021"
                          }
                        }) }}


                        <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-4">


          <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        </div>
      </div>

{% endblock %}
