{% extends "layout.html" %}

{% block pageTitle %}



  Check and confirm the address and description for billing authority reference number.
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		{%if data['property-billing-ref-no-input']!="" %}

			{%set billing_ref_no = data['property-billing-ref-no-input'] %}

		{%else%}

			{%set billing_ref_no = "06002874005006" %}

		{%endif%}

      <h1 class="govuk-heading-l">Check and confirm the address and description for billing authority reference number: {{billing_ref_no}}</h1>






      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">

		  Address
        </h2>

        <ul class="govuk-list">
            <li>Straford 2, Jubliee House,</li>
            <li>2 Farthingale Walk,</li>
            <li>London,</li>
            <li>SW1Y 4NO</li>

        </ul>


        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Description</h2>
            <p class="govuk-body">Resedential property</p>

            <!--
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Rateable value</h2>
              <p class="govuk-body">£1.350.000.00</p>

            -->
          {{ govukDetails({
              summaryText: "If the address is incorrect",
              text: "Go back and re-enter the billing property reference number. If the details are still incorrect, contact the Valuation Office Agency."
          }) }}

          <br/>
	<form method="post" action="">
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm",
                href: "council-tax-band"
            }) }}

            {{ govukButton({
              text: "Go back",
              href: "billing-reference",
              classes: "govuk-button--secondary"

            }) }}
          </div>
	</form>






    </div>
  </div>

{% endblock %}
