{% extends "layout.html" %}

{% block pageTitle %}

{%if (data['reason']=="remove") %}
 	Why does the property need to be removed?
{%elseif data['reason']=="amend"%}
	Why does the property need to be amended?
{%else%}
	Code CR03: new will be added to the report
{%endif%}

{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/webform/ct/request-sub-reason" method="post">

{%if data['reason']=="remove"%}

            {% set textHtml %}
            {{ govukTextarea({
              id: "other-detail-remove",
              name: "other-detail-remove",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-!-width-full",
              label: {
                text: "Other reason for removing the property"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              idPrefix: "sub_reason_option",
              name: "sub_reason_option",
              fieldset: {
                legend: {
                  text: "Why does the property need to be removed?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"

                }
              },
				hint: {
  				  		text: "The code you choose will be added to the report"
  						},

              items: [
                {
                  value: "CR01: demolished or uninhabitable",
                  text: "CR01: demolished or uninhabitable",
                  checked: checked("sub_reason_option", "CR01: demolished or uninhabitable"),
                  conditional: {
                    html: emailHtml
                  }
                },

                {
                  value: "CR07: demolition of part",
                  text: "CR07: demolition of part",
                  checked: checked("sub_reason_option", "CR07: demolition of part"),
                  conditional: {
                    html: phoneHtml
                  }
                }

              ]
            }) }}

              <!--hidden field-->
            {{ govukInput({

              id: "sub_reason_question",
              name: "sub_reason_question",
              value: "Why does the property need to be removed?",
              type: "hidden"
            }) }}


{%elseif data['reason']=="amend"%}


			  {% set otherAmendHtml %}
            {{ govukTextarea({
              id: "other-detail-amend",
              name: "other-detail-amend",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-!-width-full",
              label: {
                text: "Other reason for amending the property"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              idPrefix: "sub_reason_option",
              name: "sub_reason_option",
              fieldset: {
                legend: {
                  text: "Why does the property need to be amended?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"

                }
              },
				hint: {
  				  		text: "The code you choose will be added to the report"
  						},

              items: [
                {
                  value: "CR02: change from domestic use",
                  text: "CR02: change from domestic use",
                  checked: checked("sub_reason_option", "CR02: change from domestic use"),

                  conditional: {
                    html: emailHtml
                  }
                },
                {
                  value: "CR04: change to domestic use",
                  text: "CR04: change to domestic use",
                  checked: checked("sub_reason_option", "CR04: change to domestic use"),
                  conditional: {
                    html: phoneHtml
                  }
                },
                {
                  value: "CR05: reconstituted property",
                  text: "CR05: reconstituted property",
                  checked: checked("sub_reason_option", "CR05: reconstituted property"),
                  conditional: {
                    html: otherAmendHtml1
                  }
                },
				{
                  value: "CR06: composite dwelling",
                  text: "CR06: composite dwelling",
                  checked: checked("sub_reason_option", "CR06: composite dwelling"),
                  conditional: {
                    html: otherAmendHtml2
                  }
                },
				{
                  value: "CR09: reference number or effective date change only",
                  text: "CR09: reference number or effective date change only",
                  checked: checked("sub_reason_option", "CR09: reference number or effective date change only"),
                  conditional: {
                    html: otherAmendHtml3
                  }
                },
				{
                  value: "CR10: improvements or alterations",
                  text: "CR10: improvements or alterations",
                  checked: checked("sub_reason_option", "CR10: improvements or alterations"),
                  conditional: {
                    html: otherAmendHtml4
                  }
                },
				{
                  value: "CR12: major address change",
                  text: "CR12: major address change",
                  checked: checked("sub_reason_option", "CR12: major address change"),
                  conditional: {
                    html: otherAmendHtml5
                  }
                },
                {
                  value: "CR14: minor address change",
                  text: "CR14: minor address change",
                  checked: checked("sub_reason_option", "CR14: minor address change"),
                  conditional: {
                    html: textHtml123
                  }
                }
              ]
            }) }}

            <!--hidden field-->
            {{ govukInput({

              id: "sub_reason_question",
              name: "sub_reason_question",
              value: "Why does the property need to be amended?",
              type: "hidden"
            }) }}





{%else%}


<h1 class="govuk-heading-l">Code CR03: new will be added to the report</h1>
<p class="govuk-body">This is the code for adding a new property. Select 'Continue' to confirm and enter the property details, or go back if you want to remove or make amends to a property</p>
<input type="hidden" name="rsub_reason_option" id="sub_reason_option" value="CR03: new" />


        <!--hidden field-->
        {{ govukInput({

          id: "sub_reason_question",
          name: "sub_reason_question",
          value: "Code CR03: new will be added to the report",
          type: "hidden"
        }) }}

        {{ govukInput({

          id: "sub_reason_option",
          name: "sub_reason_option",
          value: "CR03",
          type: "hidden"
        }) }}

{%endif%}

        <div class="govuk-button-group">

                <button class="govuk-button" data-module="govuk-button">Continue</button>

                {{ govukButton({
                  text: "Go back",
                  href: "request-reason?property="+data['property'],
                  classes: "govuk-button--secondary"

                }) }}

          </div>

        </div>
    </div>



{% endblock %}
