{% extends "layout.html" %}

{% block pageTitle %}

{%if (data['reason']=="remove") %}
 	Why does the property need to be removed?
{%elseif data['reason']=="amend"%}
	Why does the property need to be amended?
{%else%}
	Why does the property need to be added?
{%endif%}

{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/reason-for-removal" method="post">

{%if data['reason']=="remove"%}

            {% set textHtml %}
            {{ govukTextarea({
              id: "other-detail-remove",
              name: "other-detail-remove",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-!-width-full",
              label: {
                text: "Other reason for removing the property"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              idPrefix: "reason-remove",
              name: "reason-remove",
              fieldset: {
                legend: {
                  text: "Why does the property need to be removed?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
				  
                }
              },
				hint: {
  				  		text: "The code you choose will be added to the report"
  						},

              items: [
                {
                  value: "CR01: Demolished or Uninhabitable (deletion from council tax list)",
                  text: "CR01: Demolished or Uninhabitable (deletion from council tax list)",
                  conditional: {
                    html: emailHtml
                  }
                },
                {
                  value: "CR07: demolition of part - potential reduction in band",
                  text: "CR07: demolition of part - potential reduction in band",
                  conditional: {
                    html: phoneHtml
                  }
                }
                
              ]
            }) }}


{%elseif data['reason']=="amend"%}
	
			
			  {% set otherAmendHtml %}
            {{ govukTextarea({
              id: "other-detail-amend",
              name: "other-detail-amend",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-!-width-full",
              label: {
                text: "Other reason for amending the property"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              idPrefix: "reason-amend",
              name: "reason-amend",
              fieldset: {
                legend: {
                  text: "Why does the property need to be amended?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
				  
                }
              },
				hint: {
  				  		text: "The code you choose will be added to the report"
  						},

              items: [
                {
                  value: "CR02: change from domestic use (deletion from council tax list)",
                  text: "CR02: change from domestic use (deletion from council tax list)",
                  conditional: {
                    html: emailHtml
                  }
                },
                {
                  value: "CR04: change to domestic use (e.g, previously non-domestic rate or exempt)",
                  text: "CR04: change to domestic use (e.g, previously non-domestic rate or exempt)",
                  conditional: {
                    html: phoneHtml
                  }
                },
                {
                  value: "CR05: reconstituted property (e.g. a split of a house into flats or the merger of flats into a single dwelling or the additions of a annexe)",
                  text: "CR05: reconstituted property (e.g. a split of a house into flats or the merger of flats into a single dwelling or the additions of a annexe)",
                  conditional: {
                    html: otherAmendHtml1
                  }
                },
				{
                  value: "CR06: composite dwelling (where there is a domestic and non-domestic element)",
                  text: "CR06: composite dwelling (where there is a domestic and non-domestic element)",
                  conditional: {
                    html: otherAmendHtml2
                  }
                },
				{
                  value: "CR09: reference number or effective date change only",
                  text: "CR09: reference number or effective date change only",
                  conditional: {
                    html: otherAmendHtml3
                  }
                },
				{
                  value: "CR10: improvements / alterations (for review after the next sale)",
                  text: "CR10: improvements / alterations (for review after the next sale)",
                  conditional: {
                    html: otherAmendHtml4
                  }
                },
				{
                  value: "CR12: major address change",
                  text: "CR12: major address change",
                  conditional: {
                    html: otherAmendHtml5
                  }
                },
                {
                  value: "CR14: minor address change (for obvious errors or minor postcode changes or small additions to the first line of the address)",
                  text: "CR14: minor address change (for obvious errors or minor postcode changes or small additions to the first line of the address)",
                  conditional: {
                    html: textHtml123
                  }
                }
              ]
            }) }}
			
			
{%else%}
		  
			
			{{ govukCheckboxes({
				  idPrefix: "reason-new",
				  name: "reason-new",
				  fieldset: {
					legend: {
					  text: "Why does the property need to be added?",
					  isPageHeading: true,
					  classes: "govuk-fieldset__legend--l"
					}
				  },
				  hint: {
					text: "The code you choose will be added to the report"
				  },
				  items: [
					{
					  value: "CR03: new",
					  text: "CR03: new"
					}
				  ]
				}) }}
			
	
			
			
{%endif%}
         


                <button class="govuk-button" data-module="govuk-button">Continue</button>

        </div>
        </div>



{% endblock %}
