{% extends "layout.html" %}

{% block pageTitle %}

{%if data['action']=='new'%}
      Enter address manually
{%else%}
      Edit address
{%endif%}


{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}

                <div class="govuk-grid-row">
                          <form class="form" action="/webform/ndr/address-enter" method="post">
                  <div class="govuk-grid-column-two-thirds">


                    <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">

                      </label>




                    {%if data['action']=='edit'%}



								  {%if data['address'] != null%}



											{% set addresslist = data['address'].split(',') %}



											{#    {{data['address']}}#}

											  {% set address1_value = addresslist[0] %}

											  {% set address2_value = addresslist[1] + ", " + addresslist[2] %}



											  {% set address3_value = addresslist[3] %}

											  {% set address_city = addresslist[4] %}

											  {% set address_postcode = addresslist[6] %}



											{#  set address2_value = [addresslist[1], addresslist[2] ]|join(', ') #}



								  {%else%}

								  {% set address1_value = "Eighth Floor" %}

								  {% set address2_value = "Plaza One, Ironmasters Way" %}



								  {% set address3_value = "Telford Town Centre" %}

								  {% set address_city = "Telford, Shropshire" %}

								  {% set address_postcode = "TF3 4NT" %}



                     			 {% endif%}


				 {%else%}


						   {% set address1_value = "" %}

								  {% set address2_value = "" %}



								  {% set address3_value = "" %}

								  {% set address_city = "" %}

								  {% set address_postcode = "" %}



				 {% endif%}


                      {%if data['action']=='new'%}

                      {% set page_header = "Enter address manually" %}



                      {%else%}

                        {% set page_header = "Edit address" %}


                      {%endif%}


                            {% call govukFieldset({
                              legend: {
                                text: page_header,
                                classes: "govuk-fieldset__legend--l",
                                isPageHeading: true
                              }
                            }) %}






 {%if data['propertyreason'] == "occupier"%}



                    {{ govukInput({
                      label: {
                        html: 'Address line 1 <span class="govuk-visually-hidden">line 1 of 2</span>'
                      },
                      classes: "govuk-!-width-two-thirds",
                      id: "occupier-property-address-line-1",
                      name: "occupier-property-address-line-1",
                      value: address1_value,
                      autocomplete: "address-line1"
                    }) }}


                    {{ govukInput({
                      label: {
                        text: "Address line 2 (optional)"
                      },
                      classes: "govuk-!-width-two-thirds",
                      id: "occupier-property-address-line-2",
                      name: "occupier-property-address-line-2",
                      value: address2_value,
                      autocomplete: "address-level2"
                    }) }}

                    {{ govukInput({
                      label: {
                        text: "Address line 3 (optional)"
                      },
                      classes: "govuk-!-width-two-thirds",
                      id: "occupier-property-address-line-3",
                      name: "occupier-property-address-line-3",
                      value: address3_value,
                      autocomplete: "address-level2"
                    }) }}

                    {{ govukInput({
                      label: {
                        text: "Town/city"
                      },
                      classes: "govuk-!-width-two-thirds",
                      id: "occupier-property-address-town-city",
                      value: address_city,
                      name: "occupier-property-address-town-city"
                    }) }}

                    {{ govukInput({
                      label: {
                        text: "Postcode"
                      },
                      hint: {
                          text: "For example SW1 6GH"
                    },

                      classes: "govuk-input--width-10",
                      id: "occupier-property-address-postcode",
                      name: "occupier-property-address-postcode",
                      value: address_postcode,
                      autocomplete: "postal-code"

                    }) }}
{%else%}

                  {{ govukInput({
                    label: {
                      html: 'Address line 1 <span class="govuk-visually-hidden">line 1 of 2</span>'
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "new-property-address-line-1",
                    name: "new-property-address-line-1",
                    value: address1_value,
                    autocomplete: "address-line1"
                  }) }}


                  {{ govukInput({
                    label: {
                      text: "Address line 2 (optional)"
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "new-property-address-line-2",
                    name: "new-property-address-line-2",
                    value: address2_value,
                    autocomplete: "address-level2"
                  }) }}

                  {{ govukInput({
                    label: {
                      text: "Address line 3 (optional)"
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "new-property-address-line-3",
                    name: "new-property-address-line-3",
                    value: address3_value,
                    autocomplete: "address-level2"
                  }) }}

                  {{ govukInput({
                    label: {
                      text: "Town/city"
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "new-property-address-town-city",
                    value: address_city,
                    name: "new-property-address-town-city"
                  }) }}

                  {{ govukInput({
                    label: {
                      text: "Postcode"
                    },
                    hint: {
                        text: "For example SW1 6GH"
                  },

                    classes: "govuk-input--width-10",
                    id: "new-property-address-postcode",
                    name: "new-property-address-postcode",
                    value: address_postcode,
                    autocomplete: "postal-code"

                  }) }}



{%endif%}

            {% endcall %}



            <div class="govuk-button-group govuk-!-padding-top-6">
              {%if data['propertyreason'] == "occupier"%}

                  <input type="hidden" name="occupier_property_address" id="occupier_property_address" value="{{property_address}}">
              {%else%}

                  {%if data['report_reason'] == "adding a property"%}

                    <input type="hidden" name="property_new_address" id="property_new_address" value="new property">

                    {%endif%}

              {%endif%}

      {{ govukButton({
        text: "Continue"
      }) }}



      </form>

          </div>

{% endblock %}
