/ndr/{% extends "layout.html" %}

{%


      if(data['property-postcode']=="")
%}

        {%set show_postcode = "TF3 4NT"%}

      {%else%}

        {%set show_postcode = data['property-postcode']%}

      {%endif%}


{% block pageTitle %}
Addresses for {{show_postcode}}
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}

{% block content %}






      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


	<form class="form" method="post" action="/webform/ndr/address-list">


    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="address">
        Addresses for {{show_postcode}}
        </label>
      </h1>
<!--
    <nav class="moj-pagination" aria-labelledby="pagination-label">
      <p class="moj-pagination__results">Showing <b>1</b> to <b>5</b> of <b>5</b> addresses</p>
    </nav>




  				<div class="govuk-radios {% if error %} form-group-error {% endif %}">
-->

  					{% if error %}
  					<span class="error-message">Select a business address</span>
  					{% endif %}
<!--
            <legend class="govuk-heading-s">
             Select an address
           </legend>

-->


                <select class="govuk-select" id="address" name="address">
                  <option value="Unit 1, Northern Quarter, Lawn Central, Telford Town Centre, Telford, Shropshire, TF3 4NT">Select address</option>



           -->
  					{% for address in addresses%}
                  {%set radioid = "address" + loop.index0
              %}
  				<!--	<div class="govuk-radios__item">
  						<input class="govuk-radios__input" id="{{radioid}}" name="address" type="radio" value="{{address}}">
  						<label class="govuk-label govuk-radios__label" for="{{radioid}}">
  							{{ address }}
  						</label>
  					</div>-->



            <option value="{{ address }}">{{ address }}</option>


            {%else%}


              <option value="Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT">Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Floor 1, Plaza Two, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Floor 1, Plaza Two, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Floor 2, Plaza Two, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Floor 2, Plaza Two, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Ground Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Ground Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Ground Floor, Plaza Two, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Ground Floor, Plaza Two, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Plaza One, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT">Plaza One, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Plaza Two, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT">Plaza Two, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Reynolds House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Reynolds House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Seventh Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Seventh Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Sixth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Sixth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Third Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Third Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Unit 5, Northern Quarter, Lawn Central, Telford Town Centre, Telford, Shropshire, TF3 4NT">Unit 5, Northern Quarter, Lawn Central, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>
              <option value="Unit 6, Northern Quarter, Lawn Central, Telford Town Centre, Telford, Shropshire, TF3 4NT">Unit 6, Northern Quarter, Lawn Central, Telford Town Centre, Telford, Shropshire, TF3 4NT</option>



<!--
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                </legend>
                <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address1" name="address" type="radio" value="Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT">
                    <label class="govuk-label govuk-radios__label" for="address1">
                    Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT
                    </label>
                    </div>

                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address2" name="address" type="radio" value="Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">
                    <label class="govuk-label govuk-radios__label" for="address2">
                    Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT
                    </label>
                    </div>

                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address3" name="address" type="radio" value="Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">
                    <label class="govuk-label govuk-radios__label" for="address3">
                    Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT
                    </label>
                    </div>


                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address4" name="address" type="radio" value="Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">
                    <label class="govuk-label govuk-radios__label" for="address4">
                    Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT
                    </label>
                    </div>

                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address5" name="address" type="radio" value="First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">
                    <label class="govuk-label govuk-radios__label" for="address5">
                    First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT
                    </label>
                    </div>




                </div>

                </fieldset>
            </div>

<!--
            <div class="govuk-form-group">


              <table class="govuk-table" id="search-results-table">


                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">

                           <th scope="col" class="govuk-table__header">Address</th>



                        </tr>
                        </thead>

                        <tbody class="govuk-table__body">

                        <tr class="govuk-table__row">


                              <td class="govuk-table__cell"><a href="/webform/ndr/address-verify?property={{data['property']}}&reason={{data['request']}}&propertyreason={{data['propertyreason']}}&addressid=0" class="govuk-link" title="Property address for Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT">Addenbrooke House, Ironmasters Way, Town Centre, Telford, Shropshire, TF3 4NT</a></td>




                        </tr>

                        <tr class="govuk-table__row">


                              <td class="govuk-table__cell"><a href="/webform/ndr/address-verify?property={{data['property']}}&reason={{data['request']}}&propertyreason={{data['propertyreason']}}&addressid=1" class="govuk-link" title="Property address for Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Cafe Go, Addenbrooke House, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</a></td>




                        </tr>

                        <tr class="govuk-table__row">


                              <td class="govuk-table__cell"><a href="/webform/ndr/address-verify?property={{data['property']}}&reason={{data['request']}}&propertyreason={{data['propertyreason']}}&addressid=2" class="govuk-link" title="Property address for Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Eighth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</a></td>




                        </tr>

                        <tr class="govuk-table__row">


                              <td class="govuk-table__cell"><a href="/webform/ndr/address-verify?property={{data['property']}}&reason={{data['request']}}&propertyreason={{data['propertyreason']}}&addressid=3" class="govuk-link" title="Property address for Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">Fifth Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</a></td>




                        </tr>

                        <tr class="govuk-table__row">


                              <td class="govuk-table__cell"><a href="/webform/ndr/address-verify?property={{data['property']}}&reason={{data['request']}}&propertyreason={{data['propertyreason']}}&addressid=4" class="govuk-link" title="Property address for First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT">First Floor, Plaza One, Ironmasters Way, Telford Town Centre, Telford, Shropshire, TF3 4NT</a></td>




                        </tr>





                        </tbody>
                        </table>



                        <p class="govuk-visually-hidden" id="pagination-label">Pagination navigation</p>

                        <ul class="moj-pagination__list">
                        <li class="moj-pagination__item  moj-pagination__item--prev">
                        <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                        </li>

                        <li class="moj-pagination__item moj-pagination__item--active">1</li>

                        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1">2</a></li>

                        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

                        <li class="moj-pagination__item moj-pagination__item--dots">...</li>

                        <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5">5</a></li>

                        <li class="moj-pagination__item  moj-pagination__item--next">
                        <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                        </li>
                        </ul>



            </div>



-->



  					{% endfor %}

          </select>
        </div>




  				<p class="govuk-body govuk-!-padding-top-1 govuk-!-padding-bottom-3 "><a href="/webform/ndr/address-enter?propertyreason={{data['propertyreason']}}&action=new">If the address is not listed you can enter the address manually</a></p>
          <div class="govuk-button-group">



<!--
    {{ govukButton({
      text: "Continue",
      value: "addressconfirm"
    }) }}
-->
    {{ govukButton({
      text: "Continue",

      classes: "govuk-button--primary"

    }) }}






        </form>

          </div>
        </div>



{% endblock %}
