{% extends "layout.html" %}

{% block pageTitle %}
  Property description
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-heading-xl">Comments</h1>-->




      <form class="form" action="/webform/ndr/property-description" method="post">

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="property-description">
                Enter the property description
              </label>
            </h1>
            <div id="property-description-hint" class="govuk-hint">
              If this is an existing property, use the <a href='https://www.gov.uk/find-business-rates' target='_blank'>find a business rates valuation (opens in new tab)</a> tool to look it up and enter the description as it appears. If it is a new property enter a suitable description.
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="property-description" name="property-description" rows="5" aria-describedby="property-description-info property-description-hint"></textarea>
          </div>

          <div id="property-description-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 250 characters
          </div>

        </div>






{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
