{% extends "layout.html" %}

{% block pageTitle %}
  Request reason
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


        <form class="form" action="" method="post">


                    {{ govukRadios({
            idPrefix: "report_reason",
            name: "report_reason",
            fieldset: {
              legend: {
                text: "Why are you creating this report?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },

            items: [

            {
              value: "adding a property~/webform/ndr/request-sub-reason?reason=new",
              text: "Adding a property",
              checked: checked("report_reason", "adding a property")
            },

              {
                value: "removing a property~/webform/ndr/request-sub-reason?reason=remove",
                text: "Removing a property",
                checked: checked("report_reason", "removing a property")
              },
              {
                value: "Amending address, use, or other property details~/webform/ndr/request-sub-reason?reason=amend",
                text: "Amending address, use, or other property details",
                checked: checked("report_reason", "Amending address, use, or other property details")
              }

            ]

          }) }}



              <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

          </div>
        </div>



{% endblock %}
