{% extends "layout.html" %}

{% block pageTitle %}
	Local Authorities Portal Iterations
{% endblock %}


{% block content %}





      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <div class="govuk-!-margin-top-4">
<a href="javascript:history.go(-1)" class="govuk-back- govuk-!-margin-top-0 govuk-!-margin-bottom-4 js-enabled">Back</a>
</div>



              <span class="govuk-caption-xl">Local authority portal prototype</span>
              <h1 class="govuk-heading-xl">Iterations by service</h1>
          </div>



          <div class="govuk-grid-full">



                  <h2 class="govuk-accordion__section-heading">


                          <table class="govuk-table">
                              <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="col" width="5%">Iteration</th>
                                      <th class="govuk-table__header" scope="col" width="10%">Date</th>
                                      <th class="govuk-table__header" scope="col" width="50%">Description</th>
                                        <th class="govuk-table__header" scope="col">UT findings</th>
                                          <th class="govuk-table__header" scope="col">Backlog</th>
                                      <!-- <th class="govuk-table__header govuk-!-width-one-quarter govuk-table

																			__header--numeric" scope="col">Status</th> -->
                                  </tr>
                              </thead>
                              <tbody class="govuk-table__body">

																<tr class="govuk-table__row">
																		<td class="govuk-table__cell">
																			7
																	</td>
																		<td class="govuk-table__cell">
																			May - 22
																	</td>
																		<td class="govuk-table__cell">Schedules Iteration 2 <a href="https://bst-voa-cfs-v4.herokuapp.com" target="_blank">GovUK Prototype </a></td>
																		<td class="govuk-table__cell"><a  target="_blank" href="https://miro.com/app/board/uXjVO1R80Zw=/?share_link_id=179334460823">Schedules UT Feedback</a>

								

                                                                  </td>
																		<td class="govuk-table__cell"></td>
																</tr>

																<tr class="govuk-table__row">
																		<td class="govuk-table__cell">
																			6
																	</td>
																		<td class="govuk-table__cell">
																			Apr - 22
																	</td>
																		<td class="govuk-table__cell">Bulk submission and supporting documents Iteration 3 - <a href="https://bst-voa-cfs-v3.herokuapp.com" target="_blank">GovUK Prototype </a></td>
																		<td class="govuk-table__cell">

										<a href="https://miro.com/app/board/uXjVO9oZHDU=/?share_link_id=908242233324" target="_blank">Bulk submission and supporting documents UT feedback</a>

</td>
																		<td class="govuk-table__cell"></td>
																</tr>

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                      5
                                  </td>
                                    <td class="govuk-table__cell">
                                      Mar - 22
                                  </td>
                                    <td class="govuk-table__cell">Bulk submission and supporting documents Iteration 2- <a href="https://bst-voa-cfs-v2.herokuapp.com" target="_blank">GovUK Prototype </a></td>
                                    <td class="govuk-table__cell">

										<a href="https://miro.com/app/board/uXjVOJdtyRk=/?moveToWidget=3458764520607194632&cot=14" target="_blank">Bulk submission and supporting documents UT feedback 2</a><br><br>


										<a href="https://miro.com/app/board/uXjVOCSudUo=/?moveToWidget=3458764522549178579&cot=14" target="_blank">Assisted Digital - Bulk submission and supporting documents UT feedback</a>

</td>
                                    <td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/4.+Bulk+report+submission#id-4.Bulkreportsubmission-DesignandResearchbacklog-Researchsecondround" target="_blank">Bulk submission/Supp. docs. backlog</a></td>
                                </tr>

                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                      4
                                  </td>
                                    <td class="govuk-table__cell">
                                      Jan 22
                                  </td>
                                    <td class="govuk-table__cell">Bulk Submission Iteration 1 - <a href="https://bst-voa-cfs-v1.herokuapp.com/" target="_blank">GovUK Prototype </a></td>
                                    <td class="govuk-table__cell"><a href="https://miro.com/app/board/uXjVOS4Pt2c=/?moveToWidget=3458764517772673983&cot=14" target="_blank">Bulk submission UT feedback</td>
                                    <td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/4.+Bulk+report+submission#id-4.Bulkreportsubmission-DesignandResearchbacklog-Researchfirstround" target="_blank">Bulk submission backlog</a></td>
                                </tr>


                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        3
                                    </td>
                                    <td class="govuk-table__cell">
                                    Nov 21 </td>
                                    <td class="govuk-table__cell">

Schedules<br>
<a href="https://www.figma.com/proto/4YjXDht6tR30g45gFsQIYp/Schedules---Council-tax?page-id=0%3A1&node-id=1%3A2247&viewport=501%2C48%2C0.07&scaling=min-zoom&starting-point-node-id=1%3A2247&show-proto-sidebar=1">CT Figma Prototype </a><br>


										<a href="https://www.figma.com/proto/XqdfFogSRADlQnh4w0Lxgg/NDR-schedules?page-id=0%3A1&node-id=15%3A7818&viewport=501%2C48%2C0.07&scaling=min-zoom&starting-point-node-id=15%3A7820&show-proto-sidebar=1">NDR Figma Prototype </a><br>


										<a href="https://www.figma.com/file/xxai5nrKAyNKBMzgRvTmGN/CT-%2B-NDR?node-id=0%3A1">NDR+CT Figma Prototype </a>

</td>
                                    <td class="govuk-table__cell"><a href="https://miro.com/app/board/uXjVOemJKfk=/?moveToWidget=3458764515238966892&cot=14" target="_blank">Schedules UT feedback</td>
                                    <td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-BacklogforSchedules" target="_blank">Schedules backlog</a></td>
                                </tr>


                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                      2
                                  </td>
                                    <td class="govuk-table__cell">
                                      Oct 21
                                  </td>
                                    <td class="govuk-table__cell">

										Webform submission <br>
<a href="https://www.figma.com/proto/x5HdwHMkABD5Bu1KrNg72q/Council-Tax-Submission-prototype?page-id=0%3A1&node-id=2%3A7484&viewport=408%2C48%2C2&scaling=min-zoom&starting-point-node-id=2%3A7484" target="_blank">Council tax Figma Prototype</a>
<br> <a href="https://www.figma.com/proto/0upjp8EIcM0rlIgMMKRbD9/NDR-Submission-prototype?page-id=0%3A1&node-id=2%3A7484&starting-point-node-id=2%3A7484" target="_blank">NDR Figma Prototype</a>


									</td>
                                    <td class="govuk-table__cell"><a href="https://miro.com/app/board/o9J_lpDoOwk=/?moveToWidget=3074457367186276734&cot=14" target="_blank">Webform UT feedback</td>
                                    <td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-YellowIXD/CD" target="_blank">Webform backlog</a></td>
                                </tr>

                                  <tr class="govuk-table__row">
                                      <td class="govuk-table__cell">
                                          1
                                      </td>
                                      <td class="govuk-table__cell">
                                          Sep-Oct 21
                                      </td>
                                      <td class="govuk-table__cell">User Registration and Authentication - <a href="https://www.figma.com/proto/SzBARYNmNzjgyGd9YYvluJ/Manage-users?page-id=0%3A1&node-id=147%3A9574&viewport=501%2C48%2C0.06&scaling=contain&starting-point-node-id=1%3A824&show-proto-sidebar=1">Figma Prototype </a></td>
                                      <td class="govuk-table__cell"><a href="https://miro.com/app/board/o9J_lwr2yHA=/?share__id=204525601395" target="_blank">Registration UT feedback</td>
                                      <td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-BacklogforRegistration" target="_blank">Registration backlog</a></td>
                                  </tr>



                              </tbody>
                          </table>








    </div>

{% endblock %}
