{% extends "layout.html" %}

{% block pageTitle %}
	Local Authorities Portal Iterations
{% endblock %}


{% block content %}





      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

              <div class="govuk-!-margin-top-4">
<a href="javascript:history.go(-1)" class="govuk-back- govuk-!-margin-top-0 govuk-!-margin-bottom-4 js-enabled">Back</a>
</div>



              <span class="govuk-caption-xl">Local authority portal prototype</span>
              <h1 class="govuk-heading-xl">Iterations by service</h1>


							<div class="govuk-grid-column-full">



											<h2 class="govuk-accordion__section-heading">









<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Iteration</th>
      <th scope="col" class="govuk-table__header app-custom-class">Date</th>
      <th scope="col" class="govuk-table__header app-custom-class">Description</th>
			<th scope="col" class="govuk-table__header app-custom-class">UT findings</th>
      <th scope="col" class="govuk-table__header app-custom-class">Backlog</th>
    </tr>



  </thead>
  <tbody class="govuk-table__body">


		<tr class="govuk-table__row">
		<td class="govuk-table__cell">9</td>
		<td class="govuk-table__cell">Aug - 22</td>
		<td class="govuk-table__cell">Schedules Iteration 2 and Multiple BA representation <a href="https://bst-voa-cfs-v6.herokuapp.com/bahomepage" target="_blank">GovUK Prototype </a></td>
		<td class="govuk-table__cell"><a href="#" target="_blank">Schedules amd multiple BA&#39;s UT feedback</a></td>
		<td class="govuk-table__cell"><a href="#" target="_blank">Design backlog (Backlog for schedules and multiple BA representation (iteration 2))</a></td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">8</td>
		<td class="govuk-table__cell">Jun - 22</td>
		<td class="govuk-table__cell">Webform Submission Iteration 1 <a href="https://bst-voa-cfs-v5.herokuapp.com/bahomepage" target="_blank">GovUK Prototype </a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%201st%20iteration%20Webform%20(single%20submission)%20June%202022%20(1).pdf?csf=1&amp;web=1&amp;e=lSLBJL" target="_blank">Webform Concil Tax UT feedback</a></td>
		<td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog" target="_blank">Design backlog (Backlog for webform submission (iteration 1))</a></td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">7</td>
		<td class="govuk-table__cell">May - 22</td>
		<td class="govuk-table__cell">Schedules Iteration 2 <a href="https://bst-voa-cfs-v4.herokuapp.com" target="_blank">GovUK Prototype </a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR_%20Schedules%20Iteration%20May%2022%27%20(1).pdf?csf=1&amp;web=1&amp;e=bxYNVS" target="_blank">Schedules UT Feedback</a></td>
		<td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-BacklogforSchedulesandupdatesiteration2-Sprints..." target="_blank">Schedules design Backlog</a></td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">6</td>
		<td class="govuk-table__cell">Apr - 22</td>
		<td class="govuk-table__cell">Bulk submission and supporting documents Iteration 3 - <a href="https://bst-voa-cfs-v3.herokuapp.com" target="_blank">GovUK Prototype </a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%202nd%20iteration%20-%20bulk%20submission%20Apr%2022%20(1).pdf?csf=1&amp;web=1&amp;e=weyFeN" target="_blank">Bulk submission and supporting documents UT feedback</a></td>
		<td class="govuk-table__cell"><a href="https://miro.com/app/board/uXjVO9oZHDU=/?moveToWidget=3458764524309534449&amp;cot=14">Bulk submissions design backlog</a></td>
		<td class="govuk-table__cell">&nbsp;</td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">5</td>
		<td class="govuk-table__cell">Mar - 22</td>
		<td class="govuk-table__cell">Bulk submission and supporting documents Iteration 2- <a href="https://bst-voa-cfs-v2.herokuapp.com" target="_blank">GovUK Prototype </a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%20Iterated%20bulk%20submission%20March%2022%27.pdf?csf=1&amp;web=1&amp;e=ElRE71" target="_blank">Bulk submission and supporting documents UT feedback 2</a><br />
		<br />
		<a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%20AD%20Iterated%20bulk%20submissions%20Mar_Apr%202022.pdf?csf=1&amp;web=1&amp;e=9eDVDr" target="_blank">Assisted Digital - Bulk submission and supporting documents UT feedback</a></td>
		<td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/4.+Bulk+report+submission#id-4.Bulkreportsubmission-DesignandResearchbacklog-Researchsecondround" target="_blank">Bulk submission/Supp. docs. backlog</a></td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">4</td>
		<td class="govuk-table__cell">Jan 22</td>
		<td class="govuk-table__cell">Bulk Submission Iteration 1 - <a href="https://bst-voa-cfs-v1.herokuapp.com/" target="_blank">GovUK Prototype </a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%20Bulk%20submissions%27%20Feedback%20Jan%2022%27%20(1).pdf?csf=1&amp;web=1&amp;e=NqELxh" target="_blank">Bulk submission UT feedback</a></td>
		<td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/4.+Bulk+report+submission#id-4.Bulkreportsubmission-DesignandResearchbacklog-Researchfirstround" target="_blank">Bulk submission backlog</a></td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">3</td>
		<td class="govuk-table__cell">Nov 21</td>
		<td class="govuk-table__cell">Schedules<br />
		<a href="https://www.figma.com/proto/4YjXDht6tR30g45gFsQIYp/Schedules---Council-tax?page-id=0%3A1&amp;node-id=1%3A2247&amp;viewport=501%2C48%2C0.07&amp;scaling=min-zoom&amp;starting-point-node-id=1%3A2247&amp;show-proto-sidebar=1">CT Figma Prototype </a><br />
		<a href="https://www.figma.com/proto/XqdfFogSRADlQnh4w0Lxgg/NDR-schedules?page-id=0%3A1&amp;node-id=15%3A7818&amp;viewport=501%2C48%2C0.07&amp;scaling=min-zoom&amp;starting-point-node-id=15%3A7820&amp;show-proto-sidebar=1">NDR Figma Prototype </a><br />
		<a href="https://www.figma.com/file/xxai5nrKAyNKBMzgRvTmGN/CT-%2B-NDR?node-id=0%3A1">NDR+CT Figma Prototype </a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/t/GRP063270151/ES2CYcbH_ilEqO-buGhSQckB-wiw9RinvzG0Fy9vIDQVFg?email=amolsingh.rajput%40hmrc.gov.uk&amp;e=EqW3ci" target="_blank">Schedules UT feedback</a></td>
		<td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-BacklogforSchedules" target="_blank">Schedules backlog</a></td>
		</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">2</td>
		<td class="govuk-table__cell">Oct 21</td>
		<td class="govuk-table__cell">Webform submission<br />
		<a href="https://www.figma.com/proto/x5HdwHMkABD5Bu1KrNg72q/Council-Tax-Submission-prototype?page-id=0%3A1&amp;node-id=2%3A7484&amp;viewport=408%2C48%2C2&amp;scaling=min-zoom&amp;starting-point-node-id=2%3A7484" target="_blank">Council tax Figma Prototype</a><br />
		<a href="https://www.figma.com/proto/0upjp8EIcM0rlIgMMKRbD9/NDR-Submission-prototype?page-id=0%3A1&amp;node-id=2%3A7484&amp;starting-point-node-id=2%3A7484" target="_blank">NDR Figma Prototype</a></td>
		<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%20Webform%20Submissions%20Feedback%20Oct%2021%27.pdf?csf=1&amp;web=1&amp;e=WK38H3" target="_blank">Webform UT feedback</a></td>
		<td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-YellowIXD/CD" target="_blank">Webform backlog</a></td>
		</tr>



    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">Sep-Oct 21</td>
      <td class="govuk-table__cell">User Registration and Authentication - <a href="https://www.figma.com/proto/SzBARYNmNzjgyGd9YYvluJ/Manage-users?page-id=0%3A1&amp;node-id=147%3A9574&amp;viewport=501%2C48%2C0.06&amp;scaling=contain&amp;starting-point-node-id=1%3A824&amp;show-proto-sidebar=1">Figma Prototype </a></td>
			<td class="govuk-table__cell"><a href="https://hmrc.sharepoint.com/:b:/r/teams/GRP063270151/Shared%20Documents/Customer%20Portal/Research%20%26%20Design/User%20Research/UR%20with%20Billing%20Authorities/Miro%20Archive%20(Aug%202021%20to%20Aug%202022)/CFS%20UR%20-%20Registration_%20Feedback%20Sep%2021%27.pdf?csf=1&amp;web=1&amp;e=ghHtXk" target="_blank">Registration UT feedback</a></td>
      <td class="govuk-table__cell"><a href="https://confluence.voa.enterpriseipaas.com/display/CP/Design+and+Research+backlog#DesignandResearchbacklog-BacklogforRegistration" target="_blank">Registration backlog</a></td>
    </tr>




  </tbody>
</table>




				</div>



          </div>





{% endblock %}
