{% extends "layout.html" %}

{% block pageTitle %}
  Enter property info
{% endblock %}

      {% block beforeContent %}
      <a href="enter-property-info" class="govuk-back-link">Back</a>
      {% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
              Billing property reference number
            </label>

            <form class="form" action="/property-address" method="post">

              <form class="form" method="post">
    				<div class="govuk-form-group {% if error %} form-group-error {% endif %}">
    					<label class="govuk-label" for="postcode">
    						Postcode
    					 </label>
     					{% if error %}
    						<span class="error-message">Enter postcode</span>
    					{% endif %}
    					<input type="text" class="govuk-input govuk-input--width-10" id="postcode" name="postcode" autocomplete="off">
    				</div>

    				<div class="govuk-form-group">
    					<a href="business-address-manual">Enter the address manually</a>
    				</div>

    				<div class="govuk-form-group">
    					<label class="govuk-label" for="nameNo">
    						Property name or number (optional)
    					 </label>
    					 <label class="govuk-hint" for="nameNo">
     						For example, The Mill, 116 or Flat 37a
     					 </label>
    					<input type="text" class="govuk-input govuk-input--width-20" id="nameNo" name="nameNo" autocomplete="off">
    				</div>

            <br>
            
            {{ govukButton({
                  text: "Find address"
            }) }}

    			</form>

    		</div>
    	</div>


{% endblock %}
