{% extends "layout.html" %}

{% block pageTitle %}
  Reference details
{% endblock %}

      {% block beforeContent %}
      <a href="reference-details" class="govuk-back-link">Back</a>
      {% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="event-name">
              British National Grid explaination title needed
            </label>

                     <form class="form" action="reference-details" method="post">



                       <p>Content needed here to give guidance to Users regarding British National Grid Coordinates.</p>



        <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">
          </div>


          <button class="govuk-button" data-module="govuk-button">Return to Reference details</button>

        </div>
      </div>

{% endblock %}
