{% extends "layout.html" %}

{% block pageTitle %}
  Search schedules voa
{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="signin0.html">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Your available schedules</h1>

        <p> Find out about your schdules using Billing Authority Reference Number or Billing Authority Report number. </p>

      <form class="form" action="/url/of/next/page" method="post">

            <h3 class="govuk-heading-m">See and download schedules available this week</h3>

        <br/><br/>

                  <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Download as PDF
              </a>

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Download as XML
              </a>

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Download as CSV
              </a>

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Download as ASV
              </a>

            </div>
          </div>



      <table class="govuk-table" data-module="moj-sortable-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header" aria-sort="ascending">File Name</th>

                <th scope="col" class="govuk-table__header" aria-sort="none">Rating year</th>

                <th scope="col" class="govuk-table__header" aria-sort="none">Description</th>

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Date and time</th>

              </tr>
            </thead>


            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">

                <td class="govuk-table__header"><a href="#" class="govuk-link">0840201701NRP</td>

                <td class="govuk-table__cell" data-sort-value="2017">2017</td>

                <td class="govuk-table__cell">Update</td>

                <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11 Oct 2022 16:45">11 Oct 2022 16:45</td>

              </tr>

              <tr class="govuk-table__row">

                <td class="govuk-table__header"><a href="#" class="govuk-link">0840201701NR</td>

                <td class="govuk-table__cell" data-sort-value="2017">2017</td>

                <td class="govuk-table__cell">Full List</td>

                <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10 Oct 2022 16:45">10 Oct 2022 16:45</td>

              </tr>

              <tr class="govuk-table__row">

                <td class="govuk-table__header"><a href="#" class="govuk-link">0840201701NRP</td>

                <td class="govuk-table__cell" data-sort-value="2010">2010</td>

                <td class="govuk-table__cell">Rating List</td>

                <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10 Oct 2022 16:45">10 Oct 2022 16:45</td>

              </tr>

              <tr class="govuk-table__row">

                <td class="govuk-table__header"><a href="#" class="govuk-link">0840201701NRP</td>

                <td class="govuk-table__cell" data-sort-value="2010">2010</td>

                <td class="govuk-table__cell">Rating List</td>

                <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10 Oct 2022 11:45">10 Oct 2022 11:45</td>

              </tr>

              <tr class="govuk-table__row">

                <td class="govuk-table__header"><a href="#" class="govuk-link">0840201701NRP</td>

                <td class="govuk-table__cell" data-sort-value="2005">2005</td>

                <td class="govuk-table__cell">Rating List</td>

                <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="30 Sep 2022 16:45">30 Sep 2022 16:45</td>

              </tr>


              </tr>

            </tbody>
          </table>


          <br/><br/>

        <button class="govuk-button" data-module="govuk-button">See previous schedules</button>

      </form>

    </div>
  </div>

{% endblock %}
