{% extends "layout.html" %}

{% block pageTitle %}
  Billing reference number
{% endblock %}

      {% block beforeContent %}
      <a href="reasons-for-removing" class="govuk-back-link">Back</a>
      {% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="event-name">
              Confirm business address
            </label>

            <form class="form" action="/property-playback" method="post">

              <br>

            <p class="govuk-!-font-size-24">
                {% for addressLine in address %}
                  {{ addressLine }}<br/>
                {% endfor %}
                </p>

            <p>By confirming this change, you agree that the information you have given is complete and correct.</p>



            {{ govukButton({
                  text: "Confirm address"
            }) }}

        </div>
      </div>

{% endblock %}
