{% extends "hmrc/layouts/account-header.html" %}

{% set hmrcAccountHeader = {
    language:           "en",
    serviceName:        "Personal tax account",
    accountHome:        { href: "../4115/personal-account-1", active: true },
    messages:           { href: "personal-account/messages"},
    checkProgress:      { href: "track" },
    paperlessSettings:  { href: "../personal-account/preferences" },
    yourProfile:    { href: "../4115/personal-details-1" },
    businessTaxAccount: { href: "../bta/" },
    signOut:            { href: "../feedback/pertax" },
    languageToggle:     { en: { href: "?lang=en" }, cy: { href: "?lang=cy" } },
    homepageUrl:        "/",
    serviceUrl:         "/",
    containerClasses:   "govuk-width-container",
    classes:            ""
  }
%}



<!-- Set heading for the page -->
<!-- ////////////////////////////////////////////// -->
{% set pageHeading = "Personal Tax Account" %}
{% set pageSection = "Account home" %}

<!-- Title for browser -->
<!-- ////////////////////////////////////////////// -->
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}
{% endblock %}

<!-- Import the cards template if using the macro -->
<!-- ////////////////////////////////////////////// -->
{% import "card-template.html" as card %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">Account home</span>
            <h1 class="govuk-heading-xl">
                {{ defaults.userFirstName() }}
                {{ defaults.userMiddleName() }}
                {{ defaults.userLastName() }}
            </h1>

            <!-- ********************************************* -->
            <!-- ********************************************* -->
            <!-- ********************************************* -->

            <!-- INCOME -->
            {# <h2 class="govuk-heading-m govuk-section-break--m govuk-section-break--visible">Income</h2> #}
            <div class="flex-container govuk-grid-row">

                <!-- ********************************************* -->

                <!-- NEWS Tile -->

                {# <div class="card">
                    <div class="card-body" style="height: 1px; background-color: #005EA5;">
                        <h3 class="govuk-heading-s card-heading" style="color: #fff;">Latest news and updates</h3>
                        <div class="govuk-inset-text" style="border-left: 10px solid #fff;">
                            <p class="govuk-body" style="color: #fff;">1.25% uplift in NICs funds NHS, Health & social care<br>20 January 2022</p>
                        </div>

                        <ul class="govuk-list">
                            <li>
                                <a class="service-updates govuk-link--inverse" href="service-updates">View all news and updates</a>
                            </li>
                        </ul>
                    </div>
                </div> #}

                <!-- ********************************************* -->

                {# <div class="card">
                    <div class="card-body" style="height: 1px; background-color: #005EA5;">
                        <h3 class="govuk-heading-s card-heading" style="color: #fff;">Latest news and updates</h3>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom-color: #fff;">
                        <p class="govuk-body" style="color: #fff;">1.25% uplift in NICs funds NHS, Health & social care<br>20 January 2022</p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-bottom-color: #fff;">

                        <ul class="govuk-list">
                            <li>
                                <a class="service-updates govuk-link--inverse" href="service-updates">View all news and updates</a>
                            </li>
                        </ul>
                    </div>
                </div> #}

                <!-- ********************************************* -->

                {# <div class="card">

                    <div class="card-body" style="height: 1px; background-color: #f8f8f8;">

                        <h3 class="govuk-heading-s card-heading" style="color: #005EA5;">Latest news and updates</h3>
                        <div class="govuk-inset-text" style="border-left: 10px solid #005EA5;">
                            <p class="govuk-body">1.25% uplift in NICs funds NHS, Health & social care<br>20 January 2022</p>
                        </div>
                                                <div class="govuk-inset-text" style="border-left: 10px solid #005EA5;">
                            <p class="govuk-body">1.25% uplift in NICs funds NHS, Health & social care<br>20 January 2022</p>
                        </div>

                        <ul class="govuk-list">
                            <li>
                                <a class="service-updates" href="#">View all news and updates</a>
                            </li>
                        </ul>
                    </div>

                </div> #}

                <!-- ********************************************* -->

                <div class="card">

                    <div class="card-body" style="height: 1px; background-color: #f8f8f8;">

                        <h3 class="govuk-heading-s card-heading" style="color: #005EA5;">Latest news and updates</h3>
                        <ul class="govuk-list  govuk-list--spaced">
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="service-updates#health-and-social-care-levy">1.25% uplift in NICs funds NHS, health and social care</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="service-updates#support-during-the-christmas-period">New tax year commences 6 April 2022</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="service-updates#the-department-for-education-dfe-has-published-the-provisional-data-for-the-2021-initial-teacher-training-itt-census">Making Tax Digital (MTD) is being introduced for Income Tax Self-Assessment (ITSA)</a>
                            </li>
                        </ul>

                    </div>

                </div>

                <!-- ********************************************* -->

                {# <div class="card">

                    <div class="card-body" style="height: 1px; background-color: #f8f8f8;">

                        <h3 class="govuk-heading-s card-heading" style="color: #005EA5;">Latest news and updates</h3>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <p class="govuk-body">1.25% uplift in NICs funds NHS, Health & social care<br>20 January 2022</p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                        <ul class="govuk-list">
                            <li>
                                <a class="service-updates" href="service-updates">View all news and updates</a>
                            </li>
                        </ul>
                    </div>

                </div> #}
                <!-- ********************************************* -->

                {# <div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading">
                            <a class="govuk-link govuk-link--no-visited-state" href="service-updates">Latest news and updates</a>
                        </h3>
                        <p>
                            <span >4 February 2022</span><br>
                            <a class="govuk-link govuk-link--no-visited-state" href="service-updates">1.25% uplift in NICs funds NHS, health and social care</a>
                        </p>
                        <p>
                            <span >22 March 2022</span><br>
                            <a class="govuk-link govuk-link--no-visited-state" href="service-updates">New tax year commences 6 April 2022</a>
                        </p>
                    </div>
                </div> #}

                <!-- ********************************************* -->
                <!-- PAYE Tile -->
                {# {{ card.card(
                    cardUrl="./what-do-you-want-to-do",
                    headingLevel="h3",
                    heading="Pay As You Earn (PAYE)",
                    linkContent = "Check or update the employment, pension or other income information used to work out your PAYE Income Tax and tax codes." )
                }} #}
                <!-- End of PAYE Tile -->
                <div class="card ">
                    <div class="card-body active">
                        {# <p>{{data['tile--cy-1--income-tax']}}</p> #}
                        <h3 class="govuk-heading-s card-heading">
                            <a class="govuk-link govuk-link--no-visited-state" href="what-do-you-want-to-do">Pay As You Earn (PAYE)</a>
                        </h3>
                        <p>Check or update the employment, pension or other income information used to work out your PAYE Income Tax and tax codes.</p>
                    </div>

                </div>
                <!-- ********************************************* -->

                <!-- INCOME TAX -- tiles for years CY -1 and CY -2 -->
                <div class="card ">
                    <div class="card-body active">
                        {# <p>{{data['tile--cy-1--income-tax']}}</p> #}
                        <h3 class="govuk-heading-s card-heading">
                            <a class="govuk-link govuk-link--no-visited-state" href="/tax-you-paid/2019-2020/paid-too-little">{{ defaults.datesCYMinus1() }}</a>
                        </h3>
                        <p>Your tax has not been calculated yet.</p>
                        <p>There is no need to contact HMRC about this. You will receive a letter if you have paid too much or too little tax.</p>
                    </div>

                </div>

                <!-- ********************************************* -->

                <!-- SELF ASSESSMENT -->
                <div class="card ">
                    <div class="card-body active">
                        {# <p>{{data['tile--cy-1--income-tax']}}</p> #}
                        <h3 class="govuk-heading-s card-heading">
                            <a class="govuk-link govuk-link--no-visited-state" href="https://income-tax-vc-prototype.herokuapp.com/7-1-6/personal-tax-account/interrupt?account=pta&scenario=pending-credit">Self Assessment</a>
                        </h3>
                        <p>View and manage your Self Assessment tax return. The deadline for online returns is 31 January 2021.</p>
                    </div>
                    <div class="card-action">
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Complete your tax return</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Make a payment</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#">View you payments</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Check if you need to fill in a tax return</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- ********************************************* -->

                <!-- SELF ASSESSMENT -->

                <!-- Self Assessment - Activated -->
                {# {{ card.card(
                        cardUrl="#",
                        headingLevel="h3",
                        heading="Self Assessment",
                        linkContent = "View and manage your Self Assessment tax return. The deadline for online returns is 31 January 2021.",
                        links = [
                          { url: "#", title: "Complete your tax return" },
                          { url: "#", title: "Make a payment" },
                          { url: "#", title: "View your payments" },
                          { url: "../check-if-you-need-tax-return", title: "Check if you need to fill in a tax return" }
                        ])
                    }} #}

                <!-- SELF ASSESSMENT - Enrolled -->

                <!-- SELF ASSESSMENT - Registered -->

                <!-- // SELF ASSESSMENT -->

                <!--********************************************* -->

                <!-- SEISS -->
                <div class="card">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">Self-Employment Income Support Scheme (SEISS)</a>
                        </h3>
                        <p>View your SEISS grants</p>
                    </div>

                </div>
                <!-- ********************************************* -->

                <!-- NATIONAL INSURANCE -->
                {{ card.card(
                    cardUrl="#",
                    headingLevel="h3",
                    heading="National Insurance",
                    linkContent = "You have a National Insurance number to make sure your National Insurance contributions and tax are recorded against your name only.",
                    links = [
                      { url: "#", title: "View your National Insurance letter" },
                      { url: "#", title: "View gaps in your record" }
                    ])
                }}
                <!-- // NATIONAL INSURANCE -->

                <!-- ********************************************* -->

                <!-- NATIONAL INSURANCE -->
                {{ card.card(
                    cardUrl="#",
                    headingLevel="h3",
                    heading="View your Annual Tax Summary",
                    linkContent = "View your tax and National Insurance contributions and find out how the government spends your taxes. This is for your information only.")
                }}
                <!-- // NATIONAL INSURANCE -->

            </div>

            <!-- ********************************************* -->
            <!-- ********************************************* -->
            <!-- ********************************************* -->

            <!-- BENEFITS -->
            <h2 class="govuk-heading-m govuk-section-break--m govuk-section-break--visible">Benefits</h2>
            <div class="flex-container govuk-grid-row">

                <!-- ********************************************* -->

                <!-- TAX CREDITS -->
                <div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading">
                            <a class="govuk-link govuk-link--no-visited-state" href="lastpage">Tax credits</a>
                        </h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
                    {% if data['tile--tax-credits'] == "active" %}
                        <div class="card-action">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link govuk-link--no-visited-state" href="lastpage">View your tax credits payments</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- // TAX CREDITS -->

                <!-- ********************************************* -->

                <!-- CHILD BENEFIT -->
                {{ card.card(
                    cardUrl="/personal-account/child-benefit-forms",
                    headingLevel="h3",
                    heading="Child Benefit",
                    linkContent = "A tax-free payment to help parents with the cost of bringing up children.",
                    links = [
                        { url: "../forms/form/Tell-Child-Benefit-about-your-child-staying-in-non-advanced-education-or-approved-training/guide", title: "Tell us if your child is staying in full-time education" },
                        { url: "../digital-forms/form/child-benefit-child-change-of-circumstances/draft/guide", title: "Tell us if your child’s circumstances change" },
                        { url: "../digital-forms/form/child-benefit-claimant-change-of-circumstances/guide", title: "Tell us if your circumstances change" }
                    ])
                }}
                <!-- // CHILD BENEFIT -->

                <!-- ********************************************* -->

                <!-- MARRIAGE ALLOWANCE -->
                <div class="card ">
                    <div class="card-body active">
                        {% if ((data['tile--marriage-allowance-recieves'] == "active" ) or (data['tile--marriage-allowance-transfers'] == "active")) %}
                            <h3 class="govuk-heading-s card-heading">
                                <a class="govuk-link govuk-link--no-visited-state" href="/marriage-allowance-application/history">Marriage Allowance</a>
                            </h3>
                        {% else %}
                            <h3 class="govuk-heading-s card-heading">
                                <a class="govuk-link govuk-link--no-visited-state" href="/marriage-allowance-application/how-it-works">Marriage Allowance</a>
                            </h3>
                        {% endif %}
                        {% if data['tile--marriage-allowance-transfers'] == "active" %}
                            <p>You currently transfer part of your Personal Allowance to your partner.</p>
                        {% elif data['tile--marriage-allowance-recieves'] == "active" %}
                            <p>Your partner currently transfers part of their Personal Allowance to you.</p>
                        {% else %}
                            <p>Transfer part of your Personal Allowance to your partner so they pay less tax.</p>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <ul class="govuk-list">
                            {% if ((data['tile--marriage-allowance-recieves'] == "active" ) or (data['tile--marriage-allowance-transfers'] == "active")) %}
                                <li>
                                    <a class="govuk-link govuk-link--no-visited-state" href="/marriage-allowance-application/history">Manage your Marriage Allowance</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="govuk-link govuk-link--no-visited-state" href="/marriage-allowance-application/how-it-works">Find out if you qualify for Marriage Allowance</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- // MARRIAGE ALLOWANCE -->

                <!-- ********************************************* -->

                <!-- CHILDCARE COSTS -->
                {% if data['tile--tax-free-childcare'] == "active" %}
                    {{ card.card(
                        cardUrl="https://www.gov.uk/get-childcare",
                        headingLevel="h3",
                        heading="Help with childcare costs",
                        linkContent = "You might be able to apply for Tax-Free Childcare or Universal Credit for children under 17. If any of your children are aged 2 to 4 you may also be able to get free or funded hours childcare.",
                        links = [
                        ])
                    }}
                {% endif %}
                <!-- // CHILDCARE COSTS -->

                <!-- ********************************************* -->

            </div>

            <!-- ********************************************* -->
            <!-- ********************************************* -->
            <!-- ********************************************* -->

            <!-- PENSIONS -->
            <h2 class="govuk-heading-m govuk-section-break--m govuk-section-break--visible">Pensions</h2>
            <div class="flex-container govuk-grid-row">

                <!-- ********************************************* -->

                <!-- STATE PENSION -->
                <div class="card ">
                    <div class="card-body active">
                        {% if data['tile--state-pension'] == "active" %}
                            <h3 class="govuk-heading-s card-heading">
                                <a class="govuk-link govuk-link--no-visited-state" href="/check-your-state-pension/exclusion">State Pension</a>
                            </h3>
                        {% else %}
                            <h3 class="govuk-heading-s card-heading">
                                <a class="govuk-link govuk-link--no-visited-state" href="/check-your-state-pension/account">State Pension</a>
                            </h3>
                        {% endif %}
                        <p>View your State Pension and National Insurance contributions.</p>
                    </div>
                    <div class="card-action">
                        <ul class="govuk-list">
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="/check-your-state-pension/account">View your State Pension forecast</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="/check-your-state-pension/account/nirecord">View your National Insurance record</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // STATE PENSION -->

                <!-- ********************************************* -->

                <!-- LIFETIME ALLOWANCE -->
                {% if data['tile--lifetime-allowance'] == "active" %}

                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Lifetime allowance protection",
                        linkContent = "Your lifetime allowance is protected from additional tax charges.",
                        links = [
                            { url: "#", title: "Manage your protections" }
                        ])
                    }}

                {% endif %}
                <!-- // LIFETIME ALLOWANCE -->

                <!-- ********************************************* -->

            </div>
            <!-- // End of State Pension rows -->

            <!-- ********************************************* -->
            <!-- ********************************************* -->
            <!-- ********************************************* -->

        </div>
        <div class="govuk-grid-column-full">

            {% include "includes/anything-wrong-with-this-page.html" %}
            {% include "includes/phase-banner.html" %}

        </div>
    </div>

{% endblock %}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
