{% extends "layout.html" %}

{% block pageTitle %}
  Index
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Local Authorities Dashboard (placeholder page)
      </h1>

      <p>This is a placeholder page until the dashboard component and functionality has been decided. For now the User will manually choose User the journey based on their access.</p>

      <p><b>The Coucil tax branch has NOT been added yet.</b> </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Council Tax - This will include domestic properties</a>
        </li>
        <li>
          <a href="/request-reason">Non Domestic - This will include business rates</a>
        </li>
      </ul>


    </div>
  </div>

{% endblock %}
