
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Welcome to the Billing Authorities portal

      </h1>

      <h1 class="govuk-heading-m">
          Welcome to Billing Authorities Dashboard</h1>

      <p>
        Welcome to Billing Authorities Dashboard
      </p>

      <h2 class="govuk-heading-m">About this start page</h2>

      <p>Add verions of the prototype as links below.</p>



		 <h2 class="govuk-heading-m">Bulk Report submission</h2>

      <ul class="govuk-list govuk-list--bullet">


        <li>
            <a href="/bahomepage">Billing Authorities Dashboard</a>
          </li>

		  <li>
          <a href="/bulkreport/select-file-format">Upload multiple council tax reports</a>
        </li>

		    <li>
          <a href="/bulkreport/select-file-format">View status of bulk report uploads</a>
        </li>

      </ul>


		  <h2 class="govuk-heading-m">Manual webform</h2>

		  <p><b>Please note:</b> except for these 'starting screens' both journeys are exactly the same.</p>


		 <ul class="govuk-list govuk-list--bullet">



        <li>
          <a href="/sign-in0.html">Notify VOA of a property - Sign in version 1 webform</a>
        </li>
        <li>
          <a href="/dashboard">Notify VOA of a property - Dashboard (place holder) version 1 - webform</a>
        </li>
      </ul>

      <br>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>

    
    </div>
  </div>

{% endblock %}
