
{% extends "layout.html" %}

{% block pageTitle %}
  Local authorities portal
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Welcome to Local Authorities Portal
      </h1>




<!--
      <form class="form" action="/signin" method="post">

       <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Username
      </label>
        <div id="username-hint" class="govuk-hint">
        This would be your email address
        </div>
       <input class="govuk-input govuk-input--width-20" id="username-login-email" name="username-login-email" value="" type="text">
     </div>

    <div class="govuk-form-group">
      <label for="password" class="govuk-label">Password</label>
        <input type="password" name="password" id="password" class="govuk-input govuk-input--width-20" value="" autocomplete="current-password">
       </div>

        <button class="govuk-button" data-module="govuk-button">Sign In</button>

      </form>


-->

		<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Single BA representation</th>
      <th scope="col" class="govuk-table__header">Multiple BA representation</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
   	<td class="govuk-table__cell"> <a href="/bahomepage?accountype=singleba#council-tax">Council Tax</a></td>
      <td class="govuk-table__cell"> <a href="/select-billing-authority?accountype=multiplebas&property=ct#council-tax">Council Tax</a></td>
    </tr>


	   <tr class="govuk-table__row">
   	<td class="govuk-table__cell"> <a href="/bahomepage#council-tax?accountype=singleba"><a href="/bahomepage?accountype=singleba#non-domestic-rates">Non-Domestic Rates</a></a></td>
      <td class="govuk-table__cell"> <a href="/bahomepage#council-tax?accountype=multiplebas"><a href="/select-billing-authority?accountype=multiplebas&property=ndr#non-domestic-rates">Non-Domestic Rates</a></a></td>
    </tr>

  </tbody>
</table>

      <ul class="govuk-list govuk-list--bullet">
<p class="bodyText"><strong>Global pages</strong></p>

       <!-- <li>
            <a href="/bahomepage#council-tax">Council Tax</a>
          </li>

		  <li>
          <a href="/bahomepage#non-domestic-rates">Non-Domestic Rates</a>
        </li>
-->
        <li>
            <a href="/bahomepage?cookiexist=0">Display cookie banner</a>
          </li>


          <li>
              <a href="/contact/feedback-form">Feedback form</a>
            </li>



            <li>
                <a href="/select-billing-authority?accountype=multiplebas">Select Billing Authority</a>
              </li>

		  <!-- <li>
                <a href="/contact/feedback-form-welsh?cy=1">Feedback form welsh translation sample page</a>
              </li>-->

      </ul>




      <!--

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  -->

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

               <h2 class="govuk-heading-m">Design iterations across Local authority service</h2>
               <p>Iterations include improvements, experiments and user research journeys.</p>






<a href="/iterations" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
 Go to iterations
</a>
<!--
-->
    </div>
  </div>

{% endblock %}
