
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Welcome to Local Authorities
      </h1>

<!--
      <form class="form" action="/signin" method="post">

       <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Username
      </label>
        <div id="username-hint" class="govuk-hint">
        This would be your email address
        </div>
       <input class="govuk-input govuk-input--width-20" id="username-login-email" name="username-login-email" value="" type="text">
     </div>

    <div class="govuk-form-group">
      <label for="password" class="govuk-label">Password</label>
        <input type="password" name="password" id="password" class="govuk-input govuk-input--width-20" value="" autocomplete="current-password">
       </div>

        <button class="govuk-button" data-module="govuk-button">Sign In</button>

      </form>


-->
<!--
      <ul class="govuk-list govuk-list--bullet">


        <li>
            <a href="/bahomepage#council-tax">Council Tax</a>
          </li>

		  <li>
          <a href="/bahomepage#non-domestic-rates">Non-Domestic Rates</a>
        </li>



      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p class="govuk-body">

        	<a href="webform/ct/enter-billing-auth-rep-no?property=ct">
            Council tax webform prototype - May 2022
          </a>

        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

               <h2 class="govuk-heading-m">Design iterations across Local authority service</h2>
               <p>Iterations include improvements, experiments and user research journeys.</p>






<a href="/iterations" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
 Go to iterations
</a>

    </div>
  </div>
-->
{% endblock %}
