{% extends "layout.html" %}

{% block pageTitle %}
  Property details
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<h1 class="govuk-heading-xl">Comments</h1>-->




      <form class="form" action="/property-details?requestreason={{data['requestreason']}}" method="post">

    {{ govukCharacterCount({
        name: "with-hint",
        id: "with-hint",
        maxlength: 1000,
        label: {
          text: "Property-details",
          classes: "govuk-label--xl",
          isPageHeading: true
          },
          hint: {
            text: "Content to tell User we want details of new property needed."
          }
        }) }}



{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
