{% extends "layout.html" %}

{% block pageTitle %}
  Reference details
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


                     <form class="form" action="/comments" method="post">


              <h1 class="govuk-heading-xl">Reference details</h1>

              <h2 class="govuk-label govuk-label--m" for="event-name">
                  British National Grid Coordinates (optional)
                      </h2>

                      <p>This allows us to locate the property clearly and easliy. Only for properties in rual areas.</p>

                     <p>Content needed to inform Users who dont understand what British National Grid Coordinates.
                        Another line to <a href="reference-details-explain">explain why to click this link</a></p>


                    <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-8">

                        {{ govukInput({
                          hint: {
                            text: "X Coordinates"
                          },
                          classes: "govuk-input--width-10",
                          id: "width-20",
                          name: "width-20"
                        }) }}

                        {{ govukInput({
                          hint: {
                            text: "Y Coordinates"
                          },
                          classes: "govuk-input--width-10",
                          id: "width-20",
                          name: "width-20"
                        }) }}

                    </div>






                {% set textHtml %}
                {{ govukInput({
                  id: "more-detail",
                  name: "more-detail",
                  type: "tel",
                  autocomplete: "tel",
                  classes: "govuk-input--width-20",
                  label: {
                    text: "Property planning reference"
                  }
                }) }}
                {% endset -%}

                {{ govukRadios({
                  idPrefix: "contact",
                  name: "contact",
                  fieldset: {
                    legend: {
                      text: "Planning reference number",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
              },
                hint: {
                 text: "Select one option."
               },
             items: [
             {
               value: "yes~comments",
               text: "Yes",
               conditional: {
                 html: textHtml
               }
                    },
                    {
                      value: "no~why-no-planning",
                      text: "No",
                      conditional: {
                        html: nothing

                      }
                    }
                  ]
                }) }}








                     <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">

                      <button class="govuk-button" data-module="govuk-button">Continue</button>





        </div>
      </div>

{% endblock %}
