{% extends "layout.html" %}

{% block pageTitle %}
  Request details
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>
		{% include "includes/header-section-signedin.html" %}
	</div>
{% endblock %}
{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                        Request details
                      </label>

                     <form class="form" action="/owner-occupier-details" method="post">

                        <p>
                        Billing Authority number. This allows us to cross reference and track reports.
                        </p>


                          {{ govukInput({
                            hint: {
                                  text: "For example 06002832"
                                },
                                classes: "govuk-input--width-10",
                                id: "width-10",
                                name: "width-10"

                          }) }}


                          {{ govukDateInput({
                              id: "effective-date",
                              namePrefix: "effective-date",
                              fieldset: {
                                legend: {
                                  text: "Property demolished effective date"
                            }
                          },
                          hint: {
                            text: "Not in the future. For example, 27 3 2007"
                          }
                        }) }}


                        <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-4">


          <button class="govuk-button" data-module="govuk-button">Save and continue</button>

        </div>
      </div>

{% endblock %}
