{% extends "layout.html" %}

{% block pageTitle %}
	Choose bIlling Authority
{% endblock %}

{% block beforeContent %}

	<div class="govuk-grid-row">


		<div class="govuk-grid-column-full">
			{{ govukBackLink({
			  text: "Back",
			  href: "javascript:window.history.back()"
			}) }}
		</div>


	</div>
{% endblock %}


{% block content %}



      {%if data['property']=="ct"%}
          {%set propertybm = "#council-tax"%}
      {%else%}
          {%set propertybm = "#non-domestic-rates"%}

      {%endif%}

<div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">




  <h1 class="govuk-heading-xl">
    Choose a billing authority
  </h1>
  <p class="govuk-body">Only one billing authority can be represented at a time when creating reports, adding documents and viewing schedules.
		Select the billing authority from the list to switch to that billing authority



</p>

              <form class="contact-form" action="/contact/feedback-confirmation"  method="post">



                <div class="govuk-form-group">


                  <table class="govuk-table" id="search-results-table">


                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">

                               <th scope="col" class="govuk-table__header">Billing authority name</th>

                                <th scope="col" class="govuk-table__header">Billing authority code</th>

                                 <!--   <th scope="col" class="govuk-table__header">Action</th>-->

                            </tr>
                            </thead>

                            <tbody class="govuk-table__body">

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">



																		{%if data['ba_code']!="4605"%}
																		<a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Birmingham&ba_code=4605{{propertybm}}">
																			Birmingham
																		</a>
																		{%else%}<span aria-label="Birmingham (selected billing authority)">Birmingham (selected) </span>{%endif%}




																	</td>

                                  <td class="govuk-table__cell">4605</td>

                               <!--   <td class="govuk-table__cell">


                                    {%if data['ba_code']!="4605"%}
                                    <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Birmingham&ba_code=4605">
                                      Choose billing authority
                                    </a>
                                    {%else%}Selected Billing Authority{%endif%}


                                  </td>-->

                            </tr>

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">

																		{%if data['ba_code']!="2605"%}
																		<a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Breckland&ba_code=2605{{propertybm}}">
																			Breckland
																		</a>
												{%else%}<span aria-label="Breckland (selected billing authority)">Breckland (selected)</span>{%endif%}</td>

                                  <td class="govuk-table__cell">2605</td>

                                 <!-- <td class="govuk-table__cell">



                                    {%if data['ba_code']!="2605"%}
                                    <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Breckland&ba_code=2605">
                                      Choose billing authority
                                    </a>
                                    {%else%}Selected Billing Authority{%endif%}



                                  </td>-->

                            </tr>


                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">



                                        {%if data['ba_code']!="2315"%}
                                    <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Burnley&ba_code=2315{{propertybm}}">Burnley</a>
                                    {%else%} <span aria-label="Burnley (selected billing authority)">Burnley (selected)</span> {%endif%}


							</td>

                                  <td class="govuk-table__cell">2315</td>

                                  <!--<td class="govuk-table__cell">


                                        {%if data['ba_code']!="6905"%}
                                    <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Bridgend&ba_code=6905">Choose billing authority</a>
                                        {%else%}Selected Billing Authority{%endif%}

                                  </td>-->

                            </tr>


                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">


											  {%if data['ba_code']!="1610"%}
                                          <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Cotswold&ba_code=1610{{propertybm}}">Cotswold</a>
                                    {%else%}<span aria-label="Cotswold (selected billing authority)">Cotswold (selected)</span>{%endif%}



								</td>

                                  <td class="govuk-table__cell">1610</td>

                                 <!-- <td class="govuk-table__cell">



                                    {%if data['ba_code']!="1610"%}
                                          <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Cotswold&ba_code=1610">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}



                                  </td>-->

                            </tr>


                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">


									    {%if data['ba_code']!="1715"%}
                                        <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Eastleigh&ba_code=1715{{propertybm}}">Eastleigh</a>
                                    {%else%}<span aria-label="Eastleigh (selected billing authority)">Eastleigh (selected)</span>{%endif%}



</td>

                                  <td class="govuk-table__cell">1715</td>

                                 <!-- <td class="govuk-table__cell">

                                    {%if data['ba_code']!="1715"%}
                                        <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Eastleigh&ba_code=1715">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}


                                    </td>-->

                            </tr>

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">


									    {%if data['ba_code']!="5480"%}
                                          <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Havering&ba_code=5480{{propertybm}}">Havering</a>
                                    {%else%}<span aria-label="Havering (selected billing authority)">Havering (selected)</span>{%endif%}



								</td>

                                  <td class="govuk-table__cell">5480</td>

                                 <!-- <td class="govuk-table__cell">



                                    {%if data['ba_code']!="5480"%}
                                          <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Havering&ba_code=5480">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}

                                  </td>-->

                            </tr>

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">






                                    {%if data['ba_code']!="5660"%}
                                            <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Lambeth&ba_code=5660{{propertybm}}">Lambeth</a>
                                    {%else%}<span aria-label="Lambeth (selected billing authority)">Lambeth (selected)</span>{%endif%}




								</td>

                                  <td class="govuk-table__cell">5660</td>

                                 <!-- <td class="govuk-table__cell">



                                    {%if data['ba_code']!="5660"%}
                                            <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Lambeth&ba_code=5660">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}

                                  </td>-->

                            </tr>

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">

											 {%if data['ba_code']!="2340"%}
                                            <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Pendle&ba_code=2340{{propertybm}}">Pendle</a>
                                    {%else%}<span aria-label="Pendle (selected billing authority)">Pendle (selected)</span>{%endif%}


								</td>

                                  <td class="govuk-table__cell">2340</td>

                                <!--  <td class="govuk-table__cell">



                                    {%if data['ba_code']!="2340"%}
                                            <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Pendle&ba_code=2340">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}

                                  </td>-->

                            </tr>


                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">


									    {%if data['ba_code']!="2335"%}
                                              <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Rossendale&ba_code=2335{{propertybm}}">Rossendale</a>
                                    {%else%}<span aria-label="Rossendale (selected billing authority)">Rossendale (selected)</span> {%endif%}




								</td>

                                  <td class="govuk-table__cell">2335</td>

                                 <!-- <td class="govuk-table__cell">




                                    {%if data['ba_code']!="2335"%}
                                              <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Rossendale&ba_code=2335">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}



                                  </td>-->

                            </tr>

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">

												 {%if data['ba_code']!="1165"%}
                                                <a href="/bahomepage?accountype={{data['accountype']|default("singleba", true)}}&ba_name=Torbay&ba_code=1165{{propertybm}}">Torbay</a>
                                    {%else%}<span aria-label="Torbay (selected billing authority)">Torbay (selected)</span>{%endif%}



								</td>

                                  <td class="govuk-table__cell">1165</td>

                              <!--    <td class="govuk-table__cell">


                                    {%if data['ba_code']!="1165"%}
                                                <a href="/bahomepage?accountype={{data['accountype']}}&ba_name=Torbay&ba_code=1165">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}





                                  </td>-->

                            </tr>

                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">

								{%if data['ba_code']!="2535"%}
                                                  <a href="/bahomepage?accountype={{data['accountype']}}&ba_name=West Lindsay&ba_code=2535{{propertybm}}">West Lindsay</a>
                                    {%else%}<span aria-label="West Lindsay (selected billing authority)">West Lindsay (selected)</span>{%endif%}


								</td>

                                  <td class="govuk-table__cell">2535</td>

                                  <!--<td class="govuk-table__cell">




                                    {%if data['ba_code']!="2535"%}
                                                  <a href="/bahomepage?accountype={{data['accountype']}}&ba_name=West Lindsay&ba_code=2535">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}


                                  </td>-->

                            </tr>


                            <tr class="govuk-table__row">


                                  <td class="govuk-table__cell">


                                    {%if data['ba_code']!="2370"%}
                                                  <a href="/bahomepage?accountype={{data['accountype']}}&ba_name=Wyre&ba_code=2370{{propertybm}}">Wyre</a>
                                    {%else%}<span aria-label="Wyre (selected billing authority)">Breckland (selected)</span>)
									  {%endif%}


								</td>

                                  <td class="govuk-table__cell">2370</td>

                                 <!-- <td class="govuk-table__cell">



                                    {%if data['ba_code']!="2370"%}
                                                  <a href="/bahomepage?accountype={{data['accountype']}}&ba_name=Wyre&ba_code=2370">Choose billing authority</a>
                                    {%else%}Selected Billing Authority{%endif%}



                                  </td>-->

                            </tr>












                            </tbody>
                            </table>



                            <p class="bodyText">If you represent a billing authority but it is not on this list, <a href="#">contact</a>. </p>



                </div>









</form>

          </div>
        </div>
  {% include "includes/details-get-help.html" %}
    {% endblock %}
