{% extends "layout.html" %}

{% block pageTitle %}
  Sign In page
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Sign in to Billing Authorities portal</h1>



      <form class="form" action="/request-reason" method="post">

       <div class="govuk-form-group">
  			<label class="govuk-label" for="width-20">
    			Username
 			</label>


 			 <input class="govuk-input govuk-input--width-20" id="username" name="width-20" type="text">
	   </div>


      <div class="govuk-form-group">
    			<label for="password" class="govuk-label">Password</label>
            <input type="password" name="password" id="password" class="govuk-input govuk-input--width-20" autocomplete="current-password">
      </div>

      <a id="no-account" href="#" class="govuk-link" data-ga-action="Create-New-Account-Through-BAS" data-ga-category="Sign-In" data-ga-label="HMRC">Create sign in details</a>
                <h2 class="govuk-heading-m">Problems signing in</h2>
                <ul class="list">
                    <li><a href="#" class="govuk-link" id="forgotten-password" data-ga-action="Forgot-Password" data-ga-category="Sign-In" data-ga-label="HMRC">I have forgotten my password</a></li>
                    <li><a href="#" class="govuk-link" id="forgotten-user-id" data-ga-action="Forgot-User-Id" data-ga-category="Sign-In" data-ga-label="HMRC">I have forgotten my Government Gateway user ID</a></li>
                    <li><a href="#" class="govuk-link" id="forgotten-user-id-password" data-ga-action="Forgot-User-Id-And-Password" data-ga-category="Sign-In" data-ga-label="HMRC">I have forgotten my Government Gateway user ID and
                            password</a></li>
                </ul>

                <br>

        <button class="govuk-button" data-module="govuk-button">Sign In</button>

      </form>


    </div>
  </div>

{% endblock %}
