{% extends "layout.html" %}

{% block pageTitle %}
	Local Authorities Dashboard - Valuation Office Agency - GOV.UK
{% endblock %}

{% block beforeContent %}
	{% include "includes/phase-banner-beta.html" %}
	{% include "includes/header-dashboard.html" %}
{% endblock %}

<!-- Import the cards template if using the macro -->
{% import "card-template.html" as card %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Billing Authority Reports</h1>

    </div>
</div>

<div class="flex-container govuk-grid-row">

    <div class="card">
      <div class="card-body active" style="height: 125px">
        <h2 class="govuk-heading-s card-heading"><a href="messages">Your messages</a></h2>
        <p>Your secure correspondence with the Valuation Office Agency (VOA).</p>
      </div>
      <div class="card-action">
        <ul class="govuk-list">
					<li>
						{% if data['messages'] == 0 %}
							You have no new messages
						{% else %}
							<a href="/message">You have <strong>1</strong> new message</a>
						{% endif %}
					</li>
					<li><a href="/messages">Go to your messages</a></li>
        </ul>
      </div>
    </div>

		<div class="card">
			<div class="card-body active" style="height: 125px">
				<h2 class="govuk-heading-s card-heading">{% if data['properties'] == 0 %}<a href="find-property?property-results=no">{% else %}<a href="property/properties">{% endif %}Your properties</a></h2>
				<p>Manage your properties and their business rates valuations.</p>
			</div>
			<div class="card-action">
				<ul class="govuk-list">
					<li>
						{% if data['properties'] == 0 %}
							You have no properties
						{% elseif data['properties'] == 1 %}
							<a href="property/properties">You have <strong>1</strong> property</a>
						{% else %}
							<a href="property/properties">You have <strong>7</strong> properties</a>
						{% endif %}
					</li>
					<li><a href="find-property?property-results=no">Add a property</a></li>
				</ul>
			</div>
		</div>

		{% if data['properties'] != 0 %}
		<div class="card">
			<div class="card-body active">
				<h2 class="govuk-heading-s card-heading">Tell the VOA about...</h2>
			</div>
			<div class="card-action">
				<ul class="govuk-list">
					<li>{% if data['properties'] == 1 %}<a href="/check/start?check-type=property-change">{% else %}<a href="/check/choose-property?check-type=property-change">{% endif %}A change to your property</a></li>
					<li>{% if data['properties'] == 1 %}<a href="/check/start?check-type=disagree-valuation">{% else %}<a href="/check/choose-property?check-type=disagree-valuation">{% endif %}You disagree with your property's business rates valuation</a></li>
					<li>{% if data['properties'] == 1 %}<a href="/check/start?check-type=local-change">{% else %}<a href="/check/choose-property?check-type=local-change">{% endif %}An event that has affected your property</a></li>
					<li>{% if data['properties'] == 1 %}<a href="/property/property-valuation#claim-details">{% else %}<a href="/check/choose-property?check-type=connection">{% endif %}Your connection to the property has changed</a></li>
				</ul>
			</div>
		</div>
		{% endif %}

		{% if data['open-cases'] != 0 %}
		<div class="card">
			<div class="card-body active" style="height: 125px">
				<h2 class="govuk-heading-s card-heading">Your cases</h2>
				<p>View your open Check and Challenge cases and continue your draft Checks.</p>
			</div>
			<div class="card-action">
				<ul class="govuk-list">
					{% if data['open-cases'] == 1 %}
						<li><a href="/check-case?check-status=pending">You have <strong>1</strong> open Check case</a></li>
					{% else %}
						<li><a href="/check-case/open-checks">You have <strong>12</strong> open Check cases</a></li>
						<li><a href="/challenge-case/open-challenges">You have <strong>3</strong> open Challenge cases</a></li>
						<li><a href="/check-drafts">You have <strong>2</strong> draft Check cases</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% endif %}

    <div class="card">
      <div class="card-body active" style="height: 125px">
        <h2 class="govuk-heading-s card-heading">{% if data['agents'] == 0 %}<a href="agents/add-an-agent">{% else %}<a href="agents">{% endif %}Your agents</a></h2>
        <p>Appoint a third party to act on your behalf.</p>
      </div>
      <div class="card-action">
        <ul class="govuk-list">
					<li>
						{% if data['agents'] == 0 %}
							You have no agents
						{% elseif data['agents'] == 1 %}
							<a href="/agents">You have <strong>1</strong> agent</a>
						{% else %}
							<a href="/agents">You have <strong>3</strong> agents</a>
						{% endif %}
					</li>
          <li><a href="agents/add-an-agent">Appoint an agent</a></li>
        </ul>
      </div>
    </div>

		<div class="card">
			<div class="card-body active">
				<h2 class="govuk-heading-s card-heading">Help and guidance</h2>
			</div>
			<div class="card-action">
				<ul class="govuk-list">
					<li><a href="https://www.gov.uk/guidance/how-non-domestic-property-including-plant-and-machinery-is-valued">How business properties are valued</a></li>
					<li><a href="https://www.gov.uk/guidance/how-to-check-your-rateable-value-is-correct">How to check and challenge your business rates valuation</a></li>
					<li><a href="https://www.gov.uk/calculate-your-business-rates">Estimate your business rates</a></li>
					<li><a href="https://www.gov.uk/apply-for-business-rate-relief">Apply for business rates relief</a></li>
					<li><a href="https://www.gov.uk/guidance/repair-and-rateable-value">Repair and rateable value</a></li></li>
					<li><a href="#">More help and guidance</a></li></li>
				</ul>
			</div>
		</div>

</div>

{% include "includes/details-get-help.html" %}

{% endblock %}
